{php}
$catid=request()->param('catid/d',0);
if (empty($catid)) {
    $cat = request()->param('catdir/s', '');
    $catid = getCategory($cat,'id');
}
$page=request()->param('page/d',1);
$offset=($page-1)*5;
$limit="$offset,5";
{/php}
{yzn module="cms" action="lists" catid="$catid" order="listorder ASC" limit="$limit" return="data"}
{volist name="data" id="item"}
<div class="title-article list-card item-box">
    <div class="list-pic">
        <a href="{$item.url}" title="{$item.title}" alt="{$item.title}">
            <img src="{$item.thumb}" alt="{$item.title}" class="img-full">
        </a>
    </div>
    <a href="{$item.url}" title="{$item.title}" alt="{$item.title}">
        <h2>{$item.title}</h2>
        <p>{$item.description}</p>
    </a>
    <div class="title-msg">
        <span><i class="layui-icon layui-icon-cols"></i> <a href="{:getCategory($item['catid'],'url')} ">{:getCategory($item['catid'],'catname')} </a></span>
        <span><i class="layui-icon layui-icon-date"></i> {$item.updatetime|date="Y-m-d"}</span>
        <span><i class="layui-icon layui-icon-read"></i> {$item.hits}浏览</span>
    </div>
</div>
{/volist}
{/yzn}

{if !$__LIST__}
    <div class="loadmore loadmore-line loadmore-nodata"><span class="loadmore-tips">暂无更多数据</span></div>
{else /}
    <div class="tc">
        <a href="?page={:$page+1}" data-page="{$page}" class="btn btn-loadmore">加载更多</a>
    </div>
{/if}