.childrenBody{padding:0 10px;background-color:#fff;}
.layui-elem-quote{margin-top: 5px;}
.btn-repeat{position: absolute;right: 7px;top: 7px;}
.layui-btn-group .layui-btn {margin-right: 5px!important;border-radius: 2px;border-left: none;}
