/* 自己定义 */
.fr {float: right;}
.layui-form-item.layui-required:after{content:"*";color:red;position: absolute;top:5px;left:15px;}
.childrenBody {padding: 10px;}
/*.iframe_box {padding: 5px;background-color: #f2f2f2;}*/
.layui-layout-admin .layui-footer {height: 40px;line-height: 40px;}
/*默认头部*/
.layui-layout-admin .layui-header {background-color: #fff !important;box-shadow: inset 0 -1px 0 0 #e5ecf0;}
.layui-layout-admin .layui-header .layui-header-content > ul > .layui-nav-item.layui-this, .layui-tool i:hover {background-color: #ff3d00 !important;}
.layui-layout-admin .layui-header .layui-nav .layui-nav-item a {color: #666;}
.layui-header .layui-menu-header-pc.layui-nav .layui-nav-item a:hover, .layui-header .layui-header-menu.layui-pc-show.layui-nav .layui-this a{color: #ff3d00 !important;}
.layui-layout-admin .layui-header .layui-nav .layui-nav-item .layui-nav-child a {color: #676767!important;}
.layui-layout-admin .layui-header .layui-header-content > ul > .layui-nav-item.layui-this{height: 59px!important;margin-top: -1px;}

.layui-menu-left .layui-nav-tree .layui-this, .layui-menu-left .layui-nav-tree .layui-this > a, .layui-menu-left .layui-nav-tree .layui-nav-child dd.layui-this, .layui-menu-left .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-menu-left-zoom.layui-nav-tree .layui-this, .layui-menu-left-zoom.layui-nav-tree .layui-this > a, .layui-menu-left-zoom.layui-nav-tree .layui-nav-child dd.layui-this, .layui-menu-left-zoom.layui-nav-tree .layui-nav-child dd.layui-this a {background-color: #ff3d00 !important; }
.layui-header .topLevelMenus .layui-nav-item.layui-this {	background-color: rgb(95, 184, 120) !important;}
.layui-header .layui-header-menu.layui-pc-show.layui-nav .layui-this a {color: #fff !important;}
.layui-header .layui-header-menu.layui-pc-show.layui-nav .layui-this a:hover{color: #fff !important;}
.layui-header .layui-tool i {color: #666}
.layui-header .layui-tool i:hover {color: #fff}
.layui-header-menu .layui-tab .layui-tab-title .layui-this {color: #333!important;background-color: #f2f2f2!important;}

.layui-layout-admin .layui-side{box-shadow: inset -1px 0 0 0 #e5ecf0;background-color: #f9f9f9!important; background-size:contain; /*background: url("../img/left.png")center center no-repeat;*/}
.layui-layout-admin .layui-side .layui-nav{background-color: #ff3d0000; }
.layui-layout-admin .layui-logo{box-shadow: inset -1px -1px 0 0 #e5ecf0; background-color: #f9f9f9!important;}

.layui-layout-admin .layui-body{bottom: 25px!important;}
.layui-mini .layui-layout-admin .layui-footer{left: 60px!important;}

.layui-header .logo img{display:inline-block;height:40px;vertical-align:middle;max-width: 180px;}
.layui-header .logo h1{display:inline-block;color:#dadde2;font-weight:600;font-size:20px;font-family:Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;vertical-align:middle;background-image:-webkit-gradient(linear,37.219838% 34.532506%,36.425669% 93.178216%,from(#ffb800),to(#ff3d00),color-stop(.37,#ff3d00));-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.layui-header .logo i{font-size: 0!important;color:#dadde2;font-weight:600; font-family:Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;vertical-align:middle;background-image:-webkit-gradient(linear,37.219838% 34.532506%,36.425669% 93.178216%,from(#ffb800),to(#ff3d00),color-stop(.37,#ff3d00));-webkit-background-clip:text;-webkit-text-fill-color:transparent;}

.layui-nav-itemed>a, .layui-nav-tree .layui-nav-title a, .layui-nav-tree .layui-nav-title a:hover {color: #666!important;}
.layui-nav-itemed>.layui-nav-child {background-color: #f9f9f9!important;}
.layui-nav-tree .layui-nav-child{right: 1px!important;left: -1px!important;}
.layui-nav-tree .layui-nav-child a {color: #666;}
.layui-nav-tree .layui-nav-item>a:hover{color: #fff!important;}

.layui-tab#top_tabs_box{border-top:none!important; border-bottom: 1px solid #e6e6e6; box-shadow: 0 1px 4px rgba(0,21,41,0.08);}
.layui-tab .tab-go-refresh, .layui-tab .tab-go-left, .layui-tab .tab-right{top: 0!important;}
.layui-tab .tab-go-right, .layui-tab .tab-go-refresh, .layui-tab .tab-go-left, .layui-tab .tab-right .closeBox{border: none!important;}
.layui-tab .top_tab li.layui-this:after {background-color: #ff3d00;}
.layui-tab .layui-tab-title i{font-size: 14px}
.layui-tab .layui-tab-title .layui-this i{color: #ff3d00;}
.layui-tab .layui-tab-title .layui-this:after{border-top:2px solid #20a53a}
.layui-tab .layui-tab-title img{width: 16px}

.layui-card-header {height: 40px;line-height: 40px;}
.layui-layout-right .layui-nav-child {padding: 0!important;}
.layui-card-body{padding: 10px!important;}
.site-icon{height: 16px;margin-top: -3px;}
/* 按钮 */
/* form-search */
.table-search-fieldset{border: none!important;;padding: 0;}
.table-search-fieldset legend{display: none;}
.form-search .layui-form-item{display: block;flex: none!important;float: left;clear: none;margin: 5px 5px 5px 0;}
.form-search .layui-form-item .layui-input-inline{flex: auto;}
/* form-search end */

/*小程序*/
.layui-table {border: none!important;}
.layui-table .layui-form-item{width: 100%;display: revert!important;}

.layui-header .layui-nav .layui-nav-item{height: 60px;line-height: 60px;}
.layui-form-item{position: relative;margin-bottom: 10px;display: flex;}

.layui-form-item label,.layui-form-item .layui-form-label{min-width:110px;padding:0 8px;height:38px;line-height:38px;border:1px solid #e6e6e6;border-radius:2px 0 0 2px;text-align:center;background-color:#FBFBFB;overflow:hidden;box-sizing:border-box;text-overflow:ellipsis;white-space:normal;}
.layui-form-item .layui-form-field-label,.layui-form-item .layui-input-inline{flex:1;margin-left:-1px;margin-right: 0!important;}
.layui-form-item .layui-input-block{margin-left: -1px;flex: 1;display: block;max-width: 100%;position: revert;}
.layui-form-item .layui-input-block .btn-repeat{position: absolute;top: 4px;right: 8px;}
.layui-form-item .layui-form-radio, .layui-form-item .layui-form-switch{margin:6px 0 0 10px}
.layui-iconpicker .layui-anim{width: 280px}

.layui-form-item .tagsinput input{width: 100%!important;}
.layui-form-item .layui-text{padding: 0 10px!important;line-height: 36px;}
.layui-form-item .layui-text img{max-width: 100%}

.fieldlist{border:none!important;}
.fieldlist dd:last-child{border:none!important;}
.fieldlist dd {border: 1px solid #e6e6e6;margin:0 0 10px 0!important;display: flex}
.fieldlist dd:first-child {display: none!important;}
.fieldlist dd:nth-last-child(2) {border:none!important;}
.fieldlist dd>.btn-append {margin: 0!important;}
.fieldlist dd input:first-child {width: 200px!important;border-right: 1px solid #e6e6e6}
.fieldlist dd input:nth-child(2){flex: 1;border-right: 1px solid #e6e6e6}
.fieldlist dd button{margin: 6px}
.fieldlist dd button:last-child{float: right}

.layui-word-aux{width: 0!important;padding: 0!important;margin-right:0!important;}
.layui-word-aux i{position:absolute;right:8px;bottom:9px; display:block!important; color:#999; cursor: pointer; font-size:16px; font-style: normal;}
.layui-word-aux i:hover{color:#20a53a;}

.layui-form-pane .auto-width{width: auto;text-align: left!important;}
.layui-form-pane .layui-form-label{width: 110px;}
.layui-form-pane .layui-input-inline{margin-right: 0;}
.layui-form-item .layui-input, .layui-form-item .layui-textarea, .layui-form-radio>i:hover, .layui-form-radioed>i{color:#20a53a;}
.layui-form-item .editor{border: none!important;}
.layui-form-item .editor .layui-form-label{width: 30px!important;min-width: 30px!important; height: auto!important;line-height: revert;z-index: 9999;background-color:revert;border-top: none;border-bottom: none;;border-left: none;margin: 0 auto;padding: 5px;margin: 5px}
.edui-default .edui-toolbar{overflow: revert!important;}


.layui-form-pane .layui-form-item[pane] .layui-input-inline{height: 36px;line-height: 36px;}
.layui-form-pane .layui-form-radio, .layui-form-pane .layui-form-switch{margin: 0 10px;}
.webuploader-pick{ padding: 0 10px!important; height: 38px; line-height: 38px;  border-radius: 0!important; background-color: #5fb878!important; -webkit-border-radius: 0px!important; -moz-border-radius: 0px!important; -ms-border-radius: 0px!important; -o-border-radius: 0px!important; }
.layui-iconpicker-item{height: 36px!important;}
.layui-col-space10{margin: 0 5px;}

.closeBox .layui-nav-child{left: 0!important;padding: 0!important;}
.layui-form-item .layui-form-checkbox[lay-skin=primary]{margin: 8px 0 8px 8px;}

.layui-card-body .layui-table {margin: 0 -1px;}
.auth-list th {padding: 8px 15px;min-height: 22px;line-height: 22px;}
.auth-list td {padding: 2px 15px;}
.layui-table, .layui-table-view {margin: 0 0 0 -1px!important;}

.layui-form-item .layui-form-field-label{padding: 0; line-height: 36px;}
.layui-form-field-label .city-picker-span{border-bottom: none!important;padding-left: 10px}

.layui-form-item .layui-inline{display: flex}
.layui-form-item .layui-inline:last-child{margin-right: 0!important;}
.layui-form-item .layui-inline .layui-input-inline{flex: 1!important;width: auto!important;}
.layui-form-item .input-min-width{width: 120px;float: left}

/*高级下拉*/
.layui-form-item .layui-input-block .sp_container_combo{border:none!important;box-shadow:none!important;}
.layui-form-item .layui-input-block .city-picker-span{width: 100%!important;border:none!important;padding: 0 10px;box-sizing: border-box;}
.layui-form-item .layui-input-block .city-picker-dropdown{width: 100%!important;}

/*上传图片布局*/
.layui-form-item .thumbnail{margin-top: 10px!important;margin-left: 10px!important; }
.layui-form-item .layui-upload{border: none!important;display: flex;flex-wrap: wrap;}
.layui-form-item .layui-upload .layui-col-xs4{width: auto!important;flex: 1}
.layui-form-item .layui-upload input{border: 1px solid #e6e6e6;height: 38px;line-height: 38px}
.layui-form-item .plupload-preview{width: 100% !important;flex-grow: 4;}

.layadmin-text p {	margin: 8px 0;	text-indent: 2em;}
.layadmin-text p a{text-indent: 0!important;}
.layuiadmin-badge{top:50%;margin-top:-9px;color:#01AAED;}
.layuiadmin-badge,.layuiadmin-btn-group,.layuiadmin-span-color{position:absolute;right:15px;}
.layuiadmin-card-list p.layuiadmin-big-font{font-size:36px;color:#666;line-height:36px;padding:5px 0 10px;overflow:hidden;text-overflow:ellipsis;word-break:break-all;white-space:nowrap;}
.layuiadmin-card-link a{display:inline-block;width:24.5%;color:#666;font-size:14px;margin-bottom:12px;}
.layui-form-item .layui-form-field-label, .layui-form-item .layui-input-inline, .layui-form-item .layui-input-block, .layui-col-md4 textarea{padding: 0;border: 1px solid #e6e6e6;box-sizing: unset;}

.layui-form-item .border-none, .layui-iconpicker-item, div.tagsinput{border: none!important;}
.layui-form-item .layui-form-field-label:hover, .layui-form-item .layui-input-inline:hover, .layui-form-item .layui-input-block:hover{border-color: #ccc;}
.layui-col-md4 textarea{padding: 10px;box-sizing: border-box;}
.layui-form-item .layui-form-select{flex: 1}
.layui-form-item .layui-form-select .layui-edge{right: 28px}
.layui-form-item .layui-form-select dl{padding: 0 0!important;}

/* 浮动提交 */
.layer-footer .layui-input-block, .layui-layer-footer, .layui-layer-footer .layui-input-block{border: none!important;max-width: 100% !important;text-align: center!important;margin-left: 0!important;}
.layui-layer-footer, .layer-footer .layui-input-block {text-align: center !important;}
.layui-layer-yzn .layui-layer-footer{text-align: center!important;}

.page-form{margin-bottom: 30px}

.layui-form-item .layui-form-radio, .layui-form-item .layui-form-switch, .layui-form-item .layui-form-checkbox{margin:5px 0 5px 10px}
.layui-form-item .layui-form-radio {line-height: 24px;}
.layui-input, .layui-select{height: 36px;border-width: 0;}
.layui-textarea {border-width: 0;}

/* 编辑器 */
.layui-show .layui-field-title {margin: 10px 0 10px;}
.layui-show .layui-elem-field legend {font-size: 14px;}
.edui-default .edui-editor, .edui-default .edui-editor-iframeholder{width: 100%!important;}
/* 取消图片点击边框 */
.edui-editor-imagescale {display: none !important;}

.sp_input {border: none!important;box-shadow:none!important;}
.sp_results li{height: 36px!important;line-height: 36px!important;padding: 0 10px!important;}
.sp_pagination{height: 36px!important;line-height: 36px!important;}
.sp_results .sp_over{background-color: #20a53a !important;}

/*弹出层*/
.layui-layer-yzn .layui-layer-iframe {border-top: 1px solid #eee;}
.layui-layer-yzn .layui-layer-title {background: #f2f2f2 !important;color: #333!important;height: 40px;line-height: 40px}
.layui-layer-yzn .layui-layer-title ~ .layui-layer-setwin{height: 40px;line-height: 40px}
.layui-layer-yzn .layui-layer-title ~ .layui-layer-setwin > a {height: 40px;line-height: 40px;}
.layui-layer-yzn .layui-layer-setwin > a:after{color: #666!important;}

/*插件安装*/
.install-text{height: 34px;line-height: 34px;padding-left: 10px}

/*采集*/
.layui-form-text .layui-form-item{display: revert;}
.layui-form-text .fieldlist tbody{width: 100%;display: inline-table;}
.layui-form-text .layui-table td, .layui-form-text .layui-table th {padding: 5px;}
.layui-form-text .layui-table td{text-align: center}

/*main*/
.icon {margin-right:10px;color:#1aa094;}
.icon-cray {color:#ff3d00!important;}
.icon-blue {color:#1e9fff!important;}
.icon-tip {color:#ff5722!important;}
.dzd-qiuck-module {text-align:center;margin-top: 10px}
.dzd-qiuck-module a {display: inline-block;overflow: hidden}
.dzd-qiuck-module a i {display:inline-block;width:100%;line-height: 56px;text-align:center;border-radius:2px;font-size:30px;color:#666;transition:all .3s;-webkit-transition:all .3s;}
.dzd-qiuck-module a cite {position:relative;top:2px;display:block;color:#666;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:14px;}
.welcome-module {width:100%;height:210px;}
.panel {background-color:#fff;border:1px solid transparent;border-radius:3px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}
.panel-body {padding:10px}
.panel-title {margin-top:0;margin-bottom:0;font-size:12px;color:inherit}
.label {display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em;margin-top: .3em;}
.layui-red {color:red}
.main_btn > p {height:40px;}
.layui-bg-number {background-color:#F8F8F8;}
.dzd-notice:hover {background:#f6f6f6;}
.dzd-notice {padding:7px 16px;clear:both;font-size:12px !important;cursor:pointer;position:relative;transition:background 0.2s ease-in-out;}
.dzd-notice-title,.dzd-notice-label {padding-right: 70px !important;text-overflow:ellipsis!important;overflow:hidden!important;white-space:nowrap!important;}
.dzd-notice-title {line-height:28px;font-size:14px;}
.dzd-notice-extra {position:absolute;top:50%;margin-top:-8px;right:16px;display:inline-block;height:16px;color:#999;}
.pull-right {float: right;}
.layuiadmin-card-status li{position:relative;padding:10px 0;border-bottom:1px solid #EEE;}

/*editormd*/
.editormd{border: none!important;}
.editormd-form input[type=text]{width: 200px!important;height: 38px;line-height: 38px}
.editormd-code-toolbar{display: flex}
.editormd-dialog-container select{float: right;flex: 1}
.editormd-form label{padding: 0!important;text-align: center!important;}

.layui-tips{padding-left: 10px;color: red}

.collapse {position: absolute; left: 0; top: calc(40vh - 68px); width: 15px; height: 68px; z-index: 3; }
.collapse-bg {width: 0; height: 50px; position: absolute; top: 0; left: 0; border-bottom: 9px solid transparent; border-right: none; border-left: 15px solid #009688; border-top: 9px solid transparent; -o-transition: all 0.1s ease,0.1s ease; -ms-transition: all 0.1s ease,0.1s ease; -moz-transition: all 0.1s ease,0.1s ease; -webkit-transition: all 0.1s ease,0.1s ease; }
.collapse:hover .navbar-collapse{left: 3px;}
.collapse:hover .collapse-bg{border-bottom: 9px solid transparent; border-left: 20px solid #009688; border-top: 9px solid transparent; }
.navbar-collapse {width: 15px; left: 0; height: 68px; position: relative; text-align: center; cursor: pointer; }
.navbar-collapse>span {color: #fff; font-size: 14px; line-height: 68px; vertical-align: text-top; }
#left-sider{-webkit-transition: width .2s ease;transition: width .2s ease;}
#left-sider .layui-card{min-height: calc(100vh - 2.5rem);}
#right-box{padding-left:1px;}
#left-sider.hidden{width: 0!important;padding: 0;overflow: hidden;}

@media screen and (max-width: 720px){
	.layui-header .logo{width: 150px;background-color: #009688!important;}
	.layui-header .layui-nav{padding: 0 10px;}
	.layui-header .layui-nav .layui-nav-item a{padding: 0 15px;}
	.thumbnail{padding-left: 0!important;margin-left: 0!important;}
}
@media screen and (min-width: 992px){
	.layui-flex{display: flex}
	.layui-flex .layui-col-md2 {width: 200px;}
	.layui-flex .layui-col-md10 {flex: 1;}
}
