{include file="common/header" /}
{include file="common/banner" /}
<article>
	<div class="product">
		{include file="common/menu" /}
		<div class="line"></div>
		<div class="case_list container">
			<ul class="row list">
				{include file="list_case_ajax" /}
			</ul>
		</div>
	</div>
	<div class="line"></div>
	{include file="common/demand" /}
</article>
{include file="common/footer" /}
<script src="__STATIC__/wminw/js/index.js"></script> 
<script src="__STATIC__/wminw/js/message.js"></script> 
<script src="__STATIC__/wminw/js/load.js"></script> 
<script src="__STATIC__/wminw/js/jquery.easing.min.js"></script>
</body>

</html>