{include file="common/header" /}
{include file="common/banner" /}
<!--内容开始 -->
<article>
	<div class="product">
		<div class="menu container">
			<ul>
				{volist name="$items" id="vo"}
				<li><div>{$key}</div><i></i></li>
				{/volist}
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="web-build container">
			<div class="web-build-one-cntr letmove">
				{volist name="$items" id="vo"}
				<div class="web-build-one letmove" id="wb-one-{$i}">
					<div class="web-build-one-img"> <img src="/uploads/img/{$i}{:mt_rand(0,9)}.jpg"> </div>
					<div class="web-build-one-arrow-all"> <i class="arrow-border-t"></i>
						<div class="web-build-one-arrow"> <em></em> </div>
						<i class="arrow-border-b"></i>
					</div>
					<div class="web-build-one-desc">
						<div class="web-build-one-desc-cntr">
							<h3 class="letmove">{$key}</h3>
							<article class="letmove">
								<p>{$vo|raw}</p>
							</article>
							<a class="web-build-one-btn btn-circle letmove" href="javascript:;">联系我们获取建站方案！<i class="btn-circle-hover"></i><i class="btn-circle-click"></i></a>
						</div>
					</div>
				</div>
				{/volist}
			</div>
		</div>
	</div>
	{include file="common/demand" /}
</article>
{include file="common/footer" /}
<script src="__STATIC__/wminw/js/index.js"></script> 
<script src="__STATIC__/wminw/js/web-build.js"></script>
</body>
</html>