{include file="common/header" /}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/wminw/js/rolling.img.js"></script>
<script src="/static/wminw/js/swiper.min.js"></script>
<link rel="stylesheet" href="/static/wminw/css/swiper.min.css">
{include file="common/banner" /}
<div class="container">
	<!-- 面包屑导航 -->
	{include file="common/menu" /}
	<!-- title -->
	<div class="anlix_title">
		<h6>{$title}</h6>
		<h2>{:getCategory($catid,'catname')}</h2>
	</div>
	<!-- 案例内容 -->
	<div class="anlix_nei">
		<!-- left -->
		<div class="anlix_neil">
			<!-- Swiper -->
			<div class="swiper-container">
				<div class="swiper-wrapper">
					{if $images}
					{volist name="images" id="vo"}
					<div class="swiper-slide innerDiv" data-img='true'><img src="{$vo}" class="targetImg"></div>
					{/volist}
					{else}
					<div class="swiper-slide"><img src="{$thumb}"></div>
					{/if}
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>

			<!-- Swiper JS -->
			<script>
				var swiper = new Swiper('.swiper-container', {
				  slidesPerView: 1,
				  spaceBetween: 30,
				  loop: true,
				  pagination: {
					el: '.swiper-pagination',
					clickable: true,
				  },
				  navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				  },
				});
				$(function(){
					new LongPicShow({});
				})
			</script>

			<!-- Initialize Swiper -->
		</div>
		<!-- right -->
		<div class="anlix_neir">
			<div class="box">
				<h6>案例介绍</h6>
				<h2>Case Introduction</h2>
				<h3>
					{$content|raw}
				</h3>

				<div class="boxbtn button--wayra" >
					<a target="_blank" href="{$weburl}" rel="nofollow">
						<span class="iconfont icon-web"> 查看演示</span>
					</a>
				</div>

			</div>
		</div>
	</div>
	<!-- 项目信息 -->
	<div class="anlix_other">
		<div>
			<p>案例名称：{$title}</p>
			<p>类型：{:getCategory($catid,'catname')}</p>
		</div>
		<div class="center">
			<img src="{:config('web_site_logo')}" alt="{:config('web_site_name')}">
			<span class="button--wayra">
				<a href="http://wpa.qq.com/msgrd?v=3&uin={:config('web_site_qq')}&site=qq&menu=yes" target="_blank" rel="nofollow"><i class="iconfont icon-qq"></i> {:config('web_site_name')}</a>
			</span>
		</div>
		<div>
			<p>项目工期：N天</p>
			<p>上线时间：{$inputtime|date='Y-m-d H:i'}</p>
		</div>
	</div>

</div>
{include file="common/footer" /}

</body>
</html>