{include file="common/header" /}
{include file="common/banner" /}
<article>
	<div class="product">
		<div class="menu container">
			<ul>
				{volist name="$items" id="vo"}
				<li><a class="smoothscroll" href="#biz-{$i}"><div>{$key}</div><i></i></a></li>
				{/volist}
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="biz-show-all">
			{volist name="$items" id="vo"}
			<div class="biz-show-one biz-show-one-{$i} letmove" id="biz-{$i}">
				<div class="bs-one-img-cntr bs-one-img-cntr-1">
					<img class="w1920" srcset="/uploads/img/{$i}{:mt_rand(0,9)}.jpg">
					<img class="w1500" srcset="/uploads/img/{$i}{:mt_rand(0,9)}.jpg">
				</div>
				<div class="bs-one-img-cntr-m"> <img src="/uploads/img/{$i}{:mt_rand(0,9)}.jpg"> </div>
				<div class="bs-one-desc">
					<h3>
						<p class="words">{$key}</p>
					</h3>
					<article class="desc">
						<p class="words">{$vo|raw}</p>
					</article>
					<a href="javascript:;" class="bs-link btn-circle">您需要的不仅仅是设计，更是懂设计的运营团队！<i class="btn-circle-hover"></i><i class="btn-circle-click"></i></a>
				</div>
			</div>
			{/volist}

		</div>
		<div class="demand_txt" id="biz-4">
			<div class="demand_txt1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">执行流程</div>
			<div class="demand_txt2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
				从营销内容规划到视觉设计及后期制作、更新维护。我们拥有一套成熟的运作体系，让信赖我们的用户更放心</div>
		</div>
		<div class="bizstep-list letmove">
			<div class="bstep-one letmove">
				<div class="bstep-one-title">
					<h3>01.</h3>
					<div class="bstep-one-title-more">
						<h4>收集客户资料</h4>
						<h5>COLLECT INFORMATION</h5>
					</div>
				</div>
				<p class="words">设计之前，首先我们和客户对接，收集客户资料，设计师和策划人员针对项目展开讨论，勾画重点、核心内容。了解整体页面的主要想表达东西。</p>
				<a class="blogo" href="javascript:;"><img src="__STATIC__/wminw/images/bstep-1.png"></a>
			</div>
			<div class="bstep-one letmove">
				<div class="bstep-one-title">
					<h3>02.</h3>
					<div class="bstep-one-title-more">
						<h4>竞品分析</h4>
						<h5>COMPETITIVE ANALYSIS</h5>
					</div>
				</div>
				<p class="words">找大量行业相关产品资料，分析、研究＋总结，站在营销的角度去提炼设所计产品的卖点和优势。</p>
				<a class="blogo" href="javascript:;"><img src="__STATIC__/wminw/images/bstep-2.png"></a>
			</div>
			<div class="bstep-one letmove">
				<div class="bstep-one-title">
					<h3>03.</h3>
					<div class="bstep-one-title-more">
						<h4>文案策划</h4>
						<h5>COPYWRITING PLAN</h5>
					</div>
				</div>
				<p class="words">文案策划是设计之前的一个重要环节，为后期设计提供核心思路和文案表述，将设计框架整理成文件送给设计师，并交流沟通。</p>
				<a class="blogo" href="javascript:;"><img src="__STATIC__/wminw/images/bstep-3.png"></a>
			</div>
			<div class="bstep-one letmove">
				<div class="bstep-one-title">
					<h3>04.</h3>
					<div class="bstep-one-title-more">
						<h4>产品拍摄</h4>
						<h5>PRODUCT PHOTOGRAPHY</h5>
					</div>
				</div>
				<p class="words">设计师与拍摄团队策划拍摄方案，并全程现场跟拍，严格按照拍摄方案执行，以达到最优视觉效果。</p>
				<a class="blogo" href="javascript:;"><img src="__STATIC__/wminw/images/bstep-4.png"></a>
			</div>
			<div class="bstep-one letmove">
				<div class="bstep-one-title">
					<h3>05.</h3>
					<div class="bstep-one-title-more">
						<h4>页面设计</h4>
						<h5>PAGE DESIGN</h5>
					</div>
				</div>
				<p class="words">对产品和资料，以及图片、及策划方案有了深入了解之后，开始着手设计，不仅力求画面视角完美，更要结合营销的概念来做设计。</p>
				<a class="blogo" href="javascript:;"><img src="__STATIC__/wminw/images/bstep-5.png"></a>
			</div>
			<div class="bstep-one letmove">
				<div class="bstep-one-title">
					<h3>06.</h3>
					<div class="bstep-one-title-more">
						<h4>客户验收</h4>
						<h5>CUSTOMER ACCEPTANCE</h5>
					</div>
				</div>
				<p class="words">设计完成之后，递交设计总监审核，以最专业的眼观和视角把控画面，通过审稿，最后发送客户验收，让客户省心省力，赞赞出品，必出精品。</p>
				<a class="blogo" href="javascript:;"><img src="__STATIC__/wminw/images/bstep-6.png"></a>
			</div>
		</div>
		<div class="product" id="biz-5">
			<div class="product_txt container">
				<div class="product_txt1 wow fadeInUp4" data-wow-duration="1.2s" data-wow-delay=".1s">每个作品，<span
						class="br-m">都是一次思维与灵魂的碰撞</span></div>
				<div class="product_txt2 wow fadeInUp5" data-wow-duration="1.2s" data-wow-delay=".35s">
					赞赞一直向着“做业内的互联网设计团队”这一愿景努力，致力于不断提升对网站设计，微信公众号/小程序开发等产品的用户体验</div>
			</div>
			<div class="case_list container">
				<ul class="row">
				</ul>
				<a href="{:getCategory(2,'url')}" class="more_button"> <i></i>
					<div class="dot1"><span>•</span><span>•</span><span>•</span></div>
					<div class="dot2"><span>•</span><span>•</span><span>•</span></div>
				</a>
			</div>
		</div>
	</div>
	{include file="common/demand" /}
</article>
{include file="common/footer" /}
<script src="__STATIC__/wminw/js/index.js"></script> 
<script src="__STATIC__/wminw/js/biz.js"></script>
</body>
</html>