{extend name="public/layout"/}
{block name="main"}
<div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
        <div class="fly-panel">

        </div>
    </div>
</div>

<div class="fly-msg" style="margin-bottom: 20px;"> Hi，{$userinfo.username}，{:lang('YouFullMember')}！ </div>
<div class="layui-row layui-col-space20">
    <div class="layui-col-md12">
        <div class="fly-panel fly-panel-border">
            <div class="fly-panel-title"> {:lang('MemberInfo')} </div>
            <div class="fly-panel-main layui-text">
                <div class="layui-col-md4 fly-home" style="text-align: center">
                   <img src="{$userinfo.avatar}" alt="{$userinfo.username}">
                </div>
                <div class="layui-col-md8 fly-home">
                    <p>{$userinfo.username}({$userinfo.email})</p>
                    <p>{:lang('RegistrationTime')}：<span>{$userinfo.reg_time}</span></p>
                    <p>{:lang('LastLoginTime')}：{$userinfo.last_login_time}</p>
                   <!-- <p class="fly-home-sign">（这个人懒得留下签名）</p>-->
                </div>
            </div>
        </div>
    </div>
    {if $userinfo['status']==1}
    <div class="layui-col-md12" style="margin-top: -20px;">
        <div class="layui-row layui-col-space20 layui-card-box">
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        {:lang('AccountBalance')}
                    </div>
                    <div class="layui-card-body">
                        <p class="amount">{$userinfo.amount}</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        {:lang('point')}
                    </div>
                    <div class="layui-card-body">
                        <p class="point">{$userinfo.point}</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        {:lang('UserGroup')}
                    </div>
                    <div class="layui-card-body">
                        <p class="groupname"> {:lang($userinfo.grouplang)}</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        {:lang('LoginTimes')}
                    </div>
                    <div class="layui-card-body">
                        <p class="time">{$userinfo.login}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {/if}
</div>
{/block}

