{extend name="admin@index_layout"/}
{block name="main"}
<link rel="stylesheet" href="__STATIC__/admin/css/cms.css">
<div class="layui-card">
    <div class="layui-card-body layui-form-pane">
        <form class="layui-form" method="post">
            <div class="layui-tab">
                <ul class="layui-tab-title">

                    {volist name="site" id="s" key="i" }
                    {if (isset(cache("Cms_Config")['publish_mode']) && 2 == cache("Cms_Config")['publish_mode'])}
                    {if $i == getSiteInfo('id')}
                    {include file="item_site" /}
                    {/if}
                    {else}
                    {include file="item_site" /}
                    {/if}
                    {/volist}
                    <li>基本信息</li>
                </ul>
                <div class="layui-tab-content">

                    {volist name="site" id="s" key="k"}
                    {if (isset(cache("Cms_Config")['publish_mode']) && 2 == cache("Cms_Config")['publish_mode'])}
                    {if $k == getSiteInfo('id')}
                    <div class="layui-tab-item layui-show">
                        <input type="hidden" name="extra_data[{$k}][site_id]" value="{$s.id}" />
                        {volist name="extraFieldList" id="vo"}
                        {include file="admin@inputItemExt" /}
                        {/volist}
                    </div>
                    {/if}
                    {else}
                    <div class="layui-tab-item layui-show">
                        <input type="hidden" name="extra_data[{$k}][site_id]" value="{$s.id}" />
                        {volist name="extraFieldList" id="vo"}
                        {include file="admin@inputItemExt" /}
                        {/volist}
                    </div>
                    {/if}
                    {/volist}
                    <div class="layui-tab-item">
                        {include file="admin@inputItem" /}
                    </div>
                </div>
            </div>
            <input type="hidden" name="modelField[catid]" value="{$catid}">
            {if count($fieldList)}
            <div class="layui-form-item layer-footer">
                <div class="layui-input-block">
                    <button class="layui-btn iconfont icon-send" lay-submit> 立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary iconfont icon-trash"> 重置</button>
                </div>
            </div>
            {/if}
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    layui.use(['form','layer','yznForm'], function() {
        var form = layui.form,
            yznForm = layui.yznForm;

        {notempty name='cmsConfig.web_site_getwords'}
        GV.ueditor_getwords_url="{:url('addons/getwords/getkeywords',['isadmin'=>1])}";
        $(".content_attr").append('<a class="layui-btn layui-btn-sm" id="getwords" style="margin-top: 4px;">提取关键词</a> ');
        {/notempty}
            $(".content_attr").append("<input type='checkbox' name='modelField[get_introduce]' title='是否截取到内容摘要' checked> <input type='checkbox' name='modelField[auto_thumb]' title='是否提取到缩略图' checked>");
            form.render();

            var input =$("input[name='modelField[title]']");
            input.after("<button type='button' class='layui-btn layui-btn-sm btn-repeat'>重复检测</button>");
            $('.btn-repeat').on('click', function(e) {
                $.get("{:url('check_title')}", {'catid':{$catid},'data':input.val()}, function(res) {
                    if(res.code==1){
                        layer.msg(res.msg,{icon: 1});
                    }else{
                        layer.msg(res.msg,{icon: 0});
                    }
                })
            });

            yznForm.listen('', function (res) {
                layer.confirm(res.msg, {
                    btn: ['继续添加', '返回列表'] //按钮
                }, function() {
                    $(window).scrollTop(0);
                    location.reload();
                }, function() {
                    parent.layui.table.reload('currentTable');
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                });
                return false;
            });

            form.on('select(fasttype)', function(data) {
                $('#link').val($(data.elem).find("option:selected").attr("data-url"));
            });
        })
</script>
{/block}