{if isModuleInstall('comment')}
<div class="layui-form-item">
    <label class="layui-form-label">允许评论</label>
    <div class="layui-input-inline" title="允许评论">
        <input type="radio" name="modelField[comment]" value="1" title="允许" {if !$fieldList['comment']['value']}checked{/if} {if $fieldList['comment']['value']==1}checked{/if}>
        <input type="radio" name="modelField[comment]" value="0" title="禁止" {if $fieldList['comment']['value']==0}checked{/if}>
    </div>
</div>
{/if}
{if $modelType==3}
<div class="layui-form-item">
    <label class="layui-form-label">章节状态</label>
    <div class="layui-input-inline" title="章节状态">
        <input type="radio" name="modelField[writing]" value="1" title="完成" {if !$fieldList['writing']['value']}checked{/if} {if $fieldList['writing']['value']==1}checked{/if}>
        <input type="radio" name="modelField[writing]" value="0" title="连载" {if $fieldList['writing']['value']==0}checked{/if}>
    </div>
</div>
{/if}

<div class="layui-form-item">
    <label class="layui-form-label">自定义URL</label>
    <div class="layui-input-block" title="自定义URL">
        <input type="text" id="diyurl" class="layui-input" name="modelField[diyurl]" placeholder="自定义URL" value="{$fieldList['diyurl']['value']|default=''}">
        {if (isset(cache("Cms_Config")['show_url_mode']) && 0 == cache("Cms_Config")['show_url_mode'])}
        <button type="button" class="layui-btn layui-btn-sm btn-box btn-get-pinyin">获取标识</button>
        {/if}
    </div>
    <div class="layui-form-mid layui-word-aux">如果所有文章需要自定义URL，请在CMS配置中将URL模式设置为“自定义”，部分需要可手动获取</div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label">支付数量</label>
    <div class="layui-input-inline" title="支付数量">
        <input type="text" class="layui-input input-min-width" name="modelField[readpoint]" placeholder="支付数量" value="{$fieldList['readpoint']['value']|default='0'}">
        <input type="radio" name="modelField[paytype]" value="1" title="积分" {if !$fieldList['paytype']['value']}checked{/if} {if $fieldList['paytype']['value']==1}checked{/if}>
        <input type="radio" name="modelField[paytype]" value="0" title="金额" {if $fieldList['paytype']['value']==0}checked{/if}>
    </div>
</div>

<div class="layui-form-item">
    <div class="layui-inline layui-col-md6">
        <label class="layui-form-label">点赞数</label>
        <div class="layui-input-inline" title="点赞数">
            <input type="text" class="layui-input" name="modelField[likes]" placeholder="点赞数" value="{$fieldList['likes']['value']|default='0'}">
        </div>
    </div>
    <div class="layui-inline layui-col-md6">
        <label class="layui-form-label">点踩数</label>
        <div class="layui-input-inline" title="点踩数">
            <input type="text" class="layui-input" name="modelField[dislikes]" placeholder="点踩数" value="{$fieldList['dislikes']['value']|default='0'}">
        </div>
    </div>
</div>

<div class="layui-form-item">
    <div class="layui-inline layui-col-md6">
        <label class="layui-form-label">点击量</label>
        <div class="layui-input-inline" title="点击量">
            <input type="text" class="layui-input" name="modelField[hits]" placeholder="点击量" value="{$fieldList['hits']['value']|default='0'}">
        </div>
    </div>
    <div class="layui-inline layui-col-md6">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-inline" title="排序">
            <input type="text" class="layui-input" name="modelField[listorder]" placeholder="排序" value="{$fieldList['listorder']['value']|default='0'}">
        </div>
    </div>
</div>