{extend name="admin@index_layout"/}
{block name="main"}
<form class="layui-form" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">模型名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="模型名称" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">模型中文名称，用于添加栏目时选择使用。</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">模型表键名</label>
        <div class="layui-input-inline">
            <input type="text" name="tablename" lay-verify="required" autocomplete="off" placeholder="模型表键名" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">由小写字母组成</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">模型类型</label>
        <div class="layui-input-inline">
            <input type="radio" name="type" value="2" title="一对一" checked lay-filter="filter">
            <input type="radio" name="type" value="3" title="一对多" lay-filter="filter">
        </div>
        <div class="layui-form-mid layui-word-aux">一对多，主要用于内容还有子内容、如小说、连续剧等需要分章节的需求</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea name="description" placeholder="模型的相关描述" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item web_list">
        <label class="layui-form-label">栏目模板</label>
        <div class="layui-input-block">
            <select name="setting[category_template]">
                <option value="category.html" selected>默认栏目首页:category.html</option>
                {volist name="tp_category" id="vo"}
                <option value="{$vo}">{$vo}</option>
                {/volist}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">新增模板以category_xx.html形式</div>
    </div>
    <div class="layui-form-item web_list">
        <label class="layui-form-label">列表模板</label>
        <div class="layui-input-block">
            <select name="setting[list_template]">
                <option value="list.html" selected>默认栏目列表页:list.html</option>
                {volist name="tp_list" id="vo"}
                <option value="{$vo}">{$vo}</option>
                {/volist}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">新增模板以list_xx.html形式</div>
    </div>
    <div class="layui-form-item web_list">
        <label class="layui-form-label">内容模板</label>
        <div class="layui-input-block">
            <select name="setting[show_template]">
                <option value="show.html" selected>默认内容页:show.html</option>
                {volist name="tp_show" id="vo"}
                <option value="{$vo}">{$vo}</option>
                {/volist}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">新增模板以show_xx.html形式</div>
    </div>
    <div class="layui-form-item web_list" id="last_add" style="display:none">
        <label class="layui-form-label">子内容模板</label>
        <div class="layui-input-block">
            <select name="setting[last_template]">
                <option value="show.html" selected>默认内容页:last.html</option>
                {volist name="tp_last" id="vo"}
                <option value="{$vo}">{$vo}</option>
                {/volist}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">新增模板以last_xx.html形式</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <input type="radio" name="status" value="1" title="正常" checked>
            <input type="radio" name="status" value="0" title="禁止">
        </div>
    </div>
    <div class="layui-form-item layer-footer">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit>立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
<script type="text/javascript">
    layui.use(['form','yznForm'], function() {
        var yznForm = layui.yznForm;
        var form = layui.form;
        yznForm.listen();
        form.on('radio(filter)', function(data){
            if(3==data.value){
                //批量
                $('#last_add').show();

            }
            if(2==data.value){
                $('#last_add').hide();
            }
        });

    });
</script>
{/block}