<div class="insideBanner">
    {if $catid}
    {if getCategory($top_parentid,'image')}
    <img src="{:getCategory($top_parentid,'image')}" alt="{:getCategory($top_parentid,'catname')}">
    {/if}
    <div class="thumb">
        <h2 class="title"><span>{:getCategory($top_parentid,'catname')}</span></h2>
        <div class="desc">{:getCategory($top_parentid,'description')}</div>
    </div>
    {else}
    <img src="{:getCategory(1,'image')}" alt="dzdcms">
    <div class="thumb">
        <h2 class="title"><span>dzdcms</span></h2>
        <div class="desc">多站点CMS是一款功能强大的可做多语言、站群、集团分站、城市分站的多站点内容管理系统</div>
    </div>
    {/if}
</div>