<div class="footer-bottom copyright hidden-xs">
    {if isModuleInstall('links')}
    <div class="links">
        {$lang['links']}：
        <ul>
            {yzn module="links" action="lists" siteId="$site_id" cache="3600" order="listorder ASC" num="10"  return="data"}
            {volist name="data" id="vo"}
            <li><a href="{$vo.url}" target="_blank">{$vo.name} </a></li>
            {/volist}
            {/yzn}
        </ul>
    </div>
    {/if}
    {$lang['copyright']} | <a href="https://beian.miit.gov.cn" target="_blank">{$lang['beian']}</a>
</div>
{:hook('page_footer')}
<script src="__SKIN__/dzd/cms/js/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="__STATIC__/libs/layui/layui.js"></script>
<script src="__STATIC__/libs/gb2big5/js.js"></script>
<script src="__SKIN__/dzd/cms/js/dzd.js"></script>
</body>
</html>
