<div class="product-card" vpath="{$item.thumb|default='/uploads/images/photo.png'}"  title="{$item.description}">
        <div class="product-cover videolist" ipath="{$item.video}">
            <div class="product-cover-img" style="background-image: url('{$item.thumb|default='/uploads/images/photo.png'}');"></div>
            <i class="videoed layui-icon layui-icon-play"></i>
        </div>
        <div class="product-body">
            <h3 class="product-title"><a href="{$item.url}">{$item.title}</a></h3>
            <p class="product-desc">{$item.description|str_cut=###,50}</p>
        </div>
</div>

