{php}
$catid=request()->param('catid/d',0);
if (empty($catid)) {
    $cat = request()->param('catdir/s', '');
    $catid = getCategory($cat,'id');
}
$page=request()->param('page/d',1);
$offset=($page-1)*5;
$limit="$offset,5";
{/php}
{yzn module="cms" action="lists" catid="$catid" catids="$catid" siteId="$siteId" cache="3600" order="listorder DESC,did DESC" limit="$limit" return="data"}
{volist name="data" id="item"}
{include file="public/list_item" /}
{/volist}
{/yzn}

{include file="public/pageinfo" /}