{if $tags}
<div class="layui-card">
    <div class="layui-card-header"> <i class="layui-icon layui-icon-note"> Tags</i> </div>
    <div class="layui-card-body">
        <div class="layui-btn-container layadmin-layer-demo">
            {notempty name="tags"}
            {volist name=":explode(',',$tags)" id="vo"}
            <a class="layui-btn layui-btn-primary layui-btn-sm layui-btn-radius" href="{:url('cms/index/tags',['tagdir'=>getTagDir($vo)])}">{$vo}</a>
            {/volist}
            {/notempty}
        </div>
    </div>
</div>
{/if}
<div class="layui-card">
    <div class="page-text">
        <div class="nav-span previous d-inline-block">
            {yzn module="cms" action="pre" catid="$catid" id="$id" siteId="$siteId" cache="3600" return="data"}
            <a href="{$data.url}" {$data.target}><i class="layui-icon layui-icon-prev"></i> {:lang('Pre')}：{$data.title}</a>
            {/yzn}
        </div>
        <div class="nav-span d-inline-block">
            {yzn module="cms" action="next" catid="$catid" id="$id" siteId="$siteId" cache="3600" return="data"}
            <a href="{$data.url}" {$data.target}>{:lang('Next')}：{$data.title} <i class="layui-icon layui-icon-next"></i></a>
            {/yzn}
        </div>
    </div>
</div>