@charset "utf-8";

.layui-content {background: #f7f7f7 url(../images/bg.png) repeat;font-size: 14px}
/* 面板 */
.list-card {border-radius: 6px; margin-bottom: 10px; }
.list-card .list-pic {width: 150px; height: 150px; line-height: 150px; float: left; text-align: center; overflow: hidden; margin-right: 25px }
.list-card .list-pic img {max-width: 100% }
.list-card p {display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden }
.title-article {background: #fff; overflow: hidden; padding: 20px 20px 10px 20px; position: relative }
.title-article h1 {padding-bottom: 10px;font-size: 18px}
.title-article p {margin-bottom: 10px; color: #666;}
.title-article p span {margin-right: 10px }
.title-article .titlepic {background: #fff; width: 150px; height: 150px; line-height: 150px; float: left; text-align: center }
.title-article .titlepic img {max-width: 110px; max-height: 110px }
.title-article .title-msg {margin-bottom: 10px;font-size: 14px}
.title-article .title-msg span {color: #999; margin-right: 10px }
.title-article .title-msg span a {color: inherit }
.title-article .title-msg span a:hover {color: #1e9fff }
.title-article .title-right {position: absolute; top: 20px; right: 15px; background: #f5f5f5; padding: 10px; overflow: hidden }
.title-article .title-right img {max-width: 120px !important; max-height: 120px !important }
.title-sidebar {border-bottom: 1px solid #eee; width: 100%; color: #666; font-weight: 600; padding-bottom: 10px; margin-bottom: 10px; overflow: hidden; }
.title-sidebar i {color: #666; margin: 5px }
.title-sidebar h3 {font-weight: 600 }
.text,.reward,.copy-text,.page-text,.relates,.user-text,.comment-text,.tags-text,.time-text {background: #fff; padding: 20px; }
.text {padding-top: 0; padding-bottom: 0; line-height: 2; overflow: hidden }
.text .tab-content {padding-top: 15px; padding-bottom: 15px; margin-bottom: 10px; height: 500px; overflow-y: scroll }
.text img:not([class]) {max-width: 80% !important; height: auto !important; margin: 20px auto; display: block; }
.time-text{font-size: 12px; color: #999; text-align: right; }

/* 版权说明 */
.copy-text {color: #666; }
.copy-text div {position: relative; font-size: 12px; background: #f4f5f7 url(../images/blockquote.png) 1px 3px no-repeat; padding: 13px 26px 13px 40px; border-radius: 4px; overflow: hidden; line-height: 2 }
.copy-text div:after {content: ""; display: block; width: 31px; height: 27px; position: absolute; background: url(../images/blockquote.png) 0 0 no-repeat; right: 2px; bottom: 3px; background-size: 100%; z-index: 26; transform: rotateZ(180deg); }
.page-text {margin-bottom: 10px; font-size: 14px; overflow: hidden }
.page-text div:first-child {margin-bottom: 10px }
.page-text a {width: 90%; display: inline-block }
.page-text span {margin-right: 10px }


/* 搜索框 */
.component {background: #fff; padding: 15px; margin-bottom: 15px; border-radius: 6px; overflow: hidden }
.component .layui-input {width: 190px; height: 30px; padding-left: 12px; font-size: 12px; }

/* 搜索不到内容 */
.post {background: #fff; padding: 15px; margin-bottom: 15px; border-radius: 6px; overflow: hidden }
.post .post-title {text-align:center; }

/* 分类 */
.column {background: #fff; padding: 15px; margin-bottom: 15px; border-radius: 6px; overflow: hidden } 
.column ul {overflow: hidden }
.column ul li {padding: 5px 10px }
.column ul span {float: right; color: #999 }
.column ul i {color: #666 }

/* 个人信息 */
.my-info{background: #fff; margin-bottom: 15px; border-radius: 6px; overflow: hidden; }
.my-info .background {border-radius: 4px 4px 0 0; overflow: hidden; }
.my-info .background img {width: 100%; height: 100px; object-fit: cover; vertical-align: middle; }
.my-info .user-info {position: relative; margin-bottom: 15px; }
.my-info .user-info .avatar {width: 70px; height: 70px; margin: -50px auto 13px; }
.my-info .user-info .avatar img {border-radius: 50%; width: 100%; height: 100%; box-shadow: 0 5px 10px rgba(0,0,0,.2); }
.my-info .user-info .title {text-align: center; }
.my-info .web-info {display: flex; flex-wrap: wrap; margin: 0; padding: 4px; white-space: nowrap; }
.my-info .web-info li {flex-basis: 0; flex-grow: 1; text-align: center; border-right: 1px solid #e9e9e9; }
.my-info .web-info li span {color: #1ca1f3; }
.my-info .web-info li:last-child {border-right: 0; }

/* 博主动态 */
.dynamic {background: #fff; padding: 15px; margin-bottom: 15px; border-radius: 6px; overflow: hidden }
.dynamic ul {padding-left: 10px; padding-right: 10px; height: 350px; overflow: scroll; overflow-x: hidden }
.dynamic ul li {position: relative; padding: 10px 10px 0 20px; border-left: 2px solid #c0c0c0 }
.dynamic ul li span {position: absolute; left: -12px; top: 10px; padding: 2px; border: 5px solid #fff }
.dynamic ul li a {color: #3f3f3f }
.dynamic ul li p {margin-top: 5px; padding-bottom: 14px; color: #666; border-bottom: 1px solid #f1f1f1 }
.dynamic ul li small {display: inherit; color: #999; margin-top: 10px }
.dynamic ul li img {width: 50% }
.dynamic ul li:hover span {background: #888 !important }
.dynamic ul li:hover a {color: #3280fc }
.dynamic ul li:hover p {color: #303030 }

/* 标签云 */
.tags {background: #fff; padding: 15px; margin-bottom: 15px; border-radius: 6px; overflow: hidden }
.tags div a {margin: 0 6px 5px 0 !important; white-space: nowrap; text-overflow: ellipsis; overflow: hidden }
.tags-text i {color: #666 }
.tags div a:nth-child(8n){color: #6044bf; }
.tags div a:nth-child(8n+1) {color: #249d66; }
.tags div a:nth-child(8n+2) {color: #0b98d7; }
.tags div a:nth-child(8n+3){color: #c6194b; }
.tags div a:nth-child(8n+4){color: #daa629; }
.tags div a:nth-child(8n+5){color: #dccff2; }
.tags div a:nth-child(8n+6){color: #e51a4f; }
.tags div a:nth-child(8n+7){color: #3d9037; }

/* 广告 */
.ads {background: #fff; padding: 15px; margin-bottom: 15px; border-radius: 6px; overflow: hidden }

/* 友情链接 */
.link {background: #fff; padding: 15px; margin-bottom: 15px; border-radius: 6px; overflow: hidden }
.link div a {display: inline-block; text-align: center; width: 45%; margin: 0 6px 5px 0 !important; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; border: none; border-bottom: 1px solid #f0f0f0; height: 22px; line-height: 22px; font-size: 12px; background-color: #fff; color: #555; }
.link i {color: #666 }

/* 页码 */
.page-navigator {padding: 15px; margin-left: auto; margin-right: auto; text-align: center; display: inherit }
.page-navigator a:hover {background: #393d49; color: #fff }
.page-navigator .current {background: #333742; color: #fff }

/* 底部 */
.footer {margin-top: 15px; padding-top: 15px; padding-bottom:15px; }
.footer span {color: #999; }
.footer .layui-breadcrumb a {color: #999 !important; }
.footer .layui-breadcrumb span[lay-separator] {color: #999; }
.footer .t-copy {text-align: center; }

/* 编辑器内容 */
.markdown-body{}
.markdown-body h2{font-weight: 700; }
.markdown-body h2:before {content: "#"; margin-right: 5px; color: #FF6D6D; }
.markdown-body a{color: #58666e; border-bottom-color: #222; border-bottom: 1px solid #999; word-wrap: break-word; word-break: break-all; }
.md_content li {list-style: disc; }
.md_content ol, .md_content ul {padding-left: 2em; }

/* 动态页 */
.mylife {background: #fff; padding: 20px; margin-bottom: 10px; overflow: hidden; clear: both }
.mylife .t-p {float: left; height: auto }
.mylife .t-p img {width: 42px; height: 42px; border-radius: 200px; box-shadow: 2px 5px 25px #efefef }
.mylife .t-r {margin-left: 50px; padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px #eee solid; color: #555 }
.mylife .t-r strong {font-size: 16px }
.mylife .t-r p {margin-top: 5px; margin-bottom: 5px }
.mylife .t-r p img {max-width: 200px; margin-top: 10px; display: inherit }
.mylife .t-r p video {background: #222 }
.mylife .t-r span {font-size: 12px }
.about-life {height: 180px; background: #fff; overflow: hidden }
.about-life .t-w {background: #eee; padding-left: 15px; padding-right: 15px; height: 65% }
.about-life .t-u {float: left; margin-top: 30px }
.about-life .t-u img {border-radius: 200px }
.about-life .t-t {margin-left: 150px; padding-top: 20px }
.about-life .t-t h1 span {font-size: 12px; color: #666 }
.about-life .t-t h1 span i {margin-right: 6px; margin-left: 8px }
.about-life .t-d {color: #666 }
.about-life .t-i i {font-size: 12px !important }
.about-life .t-i a {background: #aaa; margin: 0; display: inline-block; color: #fff; white-space: nowrap; text-align: center; height: 30px; line-height: 30px; padding: 0 10px; font-size: 12px; border-radius: 100px; }
.title-life {clear: both; background: #fff; width: 100%; float: left; padding-left: 20px; padding-right: 20px; margin-top: 10px; border-bottom: 1px #eee solid; line-height: 48px; box-sizing:border-box; }
.title-life h3 {float: left; font-weight: 600 }
.title-life span {float: right; font-size: 12px; color: #666 }

/* 归档 */
.archives {padding: 15px; background: #fff; color: #666 }
.archives legend {font-size: 16px }
.archives a {color: #555 !important; line-height: 2 }
.archives h3 a {line-height: 0 }
.archives small {display: block; margin-bottom: 20px; color: #999 }
.title-page {margin-bottom: 15px; color: #666; line-height: 2.4 }
.title-page h3 {color: #555 }

/* 新归档 */
.timeline-header {display: block; width: 12em; margin-right: 2px; margin-left: 2px; text-align: center }
.timeline-header .layui-btn {height: 30px; line-height: 30px; }
.timeline-header h2 {padding: 0px; margin: 0px; font-size: 14px; font-weight: normal; line-height: 30px; }
.timeline-item {display: block }
.timeline-item:after, .timeline-item:before {box-sizing: border-box; display: table; content: " "}
.timeline-wrap {border-color: #bfbfbf; display: block; padding: 10px 0 5px 20px; margin-left: 6em; border-style: solid; border-width: 0 0 0 1px; margin-bottom: 0px !important; }
.timeline-wrap:after, .timeline-wrap:before {box-sizing: border-box; display: table; content: " "}
.timeline-wrap:before {top: 4px; float: left; width: 10px; height: 10px; margin-left: -26px; background: #edf1f2; border-color: inherit; border-style: solid; border-width: 3px; border-radius: 50%; content: ""; box-shadow: 0 0 0 4px #f0f3f4; transition: all .3s ease; }
.timeline-wrap:hover:before {border-color: #1e87f0; }
.timeline-date {display: block; float: left; width: 4.5em; margin-left: -7.5em; text-align: right }
.timeline-content {display: inline-block; border-radius: 2px; }
.timeline-content, .timeline-date, .timeline-wrap:before {position: relative; }
.timeline-content a {line-height:1.5; }
.timeline-content a:hover {text-decoration: none; color: #1e87f0 !important; }
.timeline-text {padding: 5px; border-bottom: 0px !important; }
.timeline-text a:before, .timeline-content a:before {content: ""; padding: 0px; box-sizing: border-box; }
.timeline-menu {background: #fff; padding: 15px; margin-bottom: 15px; border-radius: 6px; overflow: hidden; }
.timeline-menu ul {padding-left: 10px; padding-right: 10px; max-height: 500px; overflow: scroll; overflow-x: hidden }
.timeline-menu-fixed {position: fixed; top: 10px; }
.timeline-menu .active {background: rgba(175, 167, 167, 0.1); }

/* 密码保护美化 */
.protected p {text-align:center; }
.protected input[type="password"] {width: 50%; }
.protected .submit {display: inline-block; height: 38px; line-height: 38px; padding: 0 18px; background-color: #1E9FFF; color: #fff; white-space: nowrap; text-align: center; font-size: 14px; border: none; border-radius: 2px; cursor: pointer; }

/*标签*/
.page_tags a {display: inline-block; margin: 0 0px 10px 0; color: #fff; background-color: #eee; padding: 5px 10px; font-size: 12px; border-radius: 2px; text-decoration: none; }
.page_tags a em {font-style: normal; font-size: 11px; margin-left: 5px; }
.page_tags a:hover {color: #fff; }
.page_tags a:nth-child(8n) {background-color: #00a2ca; }
.page_tags a:nth-child(8n+1) {background-color: #5CB85C; }
.page_tags a:nth-child(8n+2) {background-color: #D9534F; }
.page_tags a:nth-child(8n+3) {background-color: #FF6600; }
.page_tags a:nth-child(8n+4) {background-color: #B433FF; }
.page_tags a:nth-child(8n+5) {background-color: #00ABA9; }
.page_tags a:nth-child(8n+6) {background-color: #B37333; }
.page_tags a:nth-child(8n+7) {background-color: #5CB85C; }

/*导航*/
.panel {
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 20px 20px;
    margin-bottom: 40px;
}
.panel-title {
    padding: 8px 12px;
    display: inline-block;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 900;
    color: #666;
}
.main-navbar h4{font-size:17px;}
.main-navbar .card{
    position: relative;
    height: 86px;
    cursor: pointer;
    border-radius: 4px;
    padding: 15px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #e4ecf3;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.main-navbar .card:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.main-navbar .card a{display:block;}
.main-navbar .card-icon{float: left;display: block;margin-right: 10px;}
.main-navbar .card-body p {margin-bottom: 0px;margin-right: 15px;line-height:20px;height:40px;}
.overflowClip_1 {overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.overflowClip_2 {overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}




/* 自适应布局 */
@media (min-width: 1200px) {

}
@media (min-width: 768px) {

}
@media (max-width: 1200px) {
    .layui-main {width: 100%; }
    .component .layui-input {width: 140px; } }

@media (max-width: 992px) {
    .layui-main {width: 100%; }
    .component .input {width: 82%; }
    .component .layui-input {width: 100%; }
}
@media (max-width: 768px) {
    .header .layui-nav .layui-nav-more {display: none!important; }
    .header .layui-nav .layui-nav-mored {display: none!important; }
    .header .layui-nav .layui-nav-item i{font-size:24px; }
    .header .layui-nav .layui-nav-item dl dd a {color:#000; padding-left: 10px; padding-right: 10px }
    .nav-btn .layui-nav-child {left: auto; right: 0; }
    .list-card .list-pic {width: 100%; /* height: 100%; */ line-height: 200px; margin-bottom: 10px }
    .tags-text {font-size: 12px }
    .page-text a {margin-top: 10px }
    .title-article {padding: 15px }
    .title-article .title-right {position: initial; height: 100% !important; text-align: center; margin-top: 10px; margin-bottom: 10px; background: none }
    .title-article .title-msg span {font-size: 12px }
    .relates ul li {width: 100% }
    .about-life .t-u {margin-top: 50px }
    .about-life .t-u img {height: 100px }
    .about-life .t-t {margin-left: 116px }
    .about-life .t-t h1 {margin: 0 }
    .about-life .t-d {display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; max-height: 60px }
    .about-life .t-i {margin: 0 }
}