@charset "utf-8";body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,strong{font-weight:normal;}
body{/*修改和去除移动端点击事件出现的背景框*/
 -webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;}
ul,ol,li{list-style:none;}
img{border:none;vertical-align:middle;}
a{text-decoration:none;color:#000;}
a:hover{text-decoration:none;}
a:focus{/*去掉FF浏览器a标签虚框*/
 outline:none;}
select,select:hover{outline:none;border-color:#000;}
