{extend name="admin@index_layout"/}
{block name="main"}
<style type="text/css">
h2{color: #fff; background: #009688; text-align: center; line-height: 3; font-size: 16px;}
ul{line-height: 2;}
ul li{background: #FF5722;color: #fff;margin-bottom: 3px;border-radius: 3px;padding: 3px 10px;font-size: 14px;}
</style>
<div class="layui-card">
    <div class="layui-card-header">安全检测</div>
    <div class="layui-card-body">
        {empty name="error_msgs"}
        <h2>当前系统没有发生文件被修改问题。</h2>
        {else /}
        <ul>
        {foreach $error_msgs as $key=>$vo }
           <li>{$vo}</li>
        {/foreach}
        </ul>
        {/empty}
    </div>
</div>
{/block}
{block name="script"}{/block}