{extend name="admin@index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">管理日志</div>
    <div class="layui-card-body">
        <table class="layui-hide" id="currentTable" lay-filter="currentTable"></table>
    </div>
</div>
{/block}
{block name="script"}
<script>
layui.use('yznTable', function() {
    var table = layui.yznTable;

    var init = {
        table_elem: '#currentTable',
        add_url: '{:url("add",["isadmin"=>1])}',
        delete_url: '{:url("del",["isadmin"=>1])}',
    };

    table.render({
        init: init,
        id: 'currentTable',
        elem: '#currentTable',
        toolbar: ['refresh','add','delete'],
        url: '{:url("index",["isadmin"=>1])}',
        cols: [
            [
                { type: 'checkbox', fixed: 'left' },
                { field: 'id', width: 80, title: 'ID', sort: true },
                { field: 'code', title: '邀请码' },
                { field: 'max',width: 120, title: '剩余次数' },
                { field: 'expired_time', width: 180, title: '失效时间', search: 'range' },
                { field: 'status', width: 80, title: '状态', align: "center", templet: '<div>{{#  if(d.status){ }} <button class="layui-btn layui-btn layui-btn-xs">正常</button> {{#  } else { }} <button class="layui-btn layui-btn-danger layui-btn layui-btn-xs">失效</button> {{#  } }} </div>', selectList: { 0: '失效', 1: '正常' } },
            ]
        ],
        page: {}
    });
});
</script>
{/block}