.kefu-form {filter: alpha(opacity = 0); transition: 0.2s ease-out; position: fixed; top: 50%; width: 70px; right: 0; font-size: 12px;  z-index: 9999;text-align: center;}
.kefu-form a{display: block;padding-bottom: 10px;padding-top: 15px;background-color: #337eff;}
.kefu-form a:hover{background: #1a6eff;}
.kefu-form .kefu-item {position: relative; box-sizing: border-box; display: block; width: 100%; height: 30px; line-height: 30px; font-size: 12px; color: #fff; text-align: center; cursor: pointer; z-index: 9999; margin:0; }

.kefu-icon{display:inline-block; width: 31px; height: 30px; background: url(../images/chat.png);margin-bottom: 4px; }
.kefu-close {display: block; width: 18px; height: 18px; background: url(../images/close.png) no-repeat; position: pox; position: absolute; right: 10px; top: 10px; }
#wolive-talk{width: 400px; height: 500px; position: fixed; bottom: 10px; right:90px; z-index: 999999; }
#wolive-iframe{width: 100%; height: 100%; box-shadow: rgba(15, 66, 76, 0.25) 0px 0px 24px 0px;border: none;}