<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-collapse" lay-accordion="">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><i class="iconfont icon-systemprompt"></i>权限设置注意事项：<i class="layui-icon layui-colla-icon"></i></h2>
                <div class="layui-colla-content layui-show">
                    <p>1.投稿权限：只要选了的会员级别才有投稿权限，不选的无权投稿！</p>
                    <p>2.访问权限：只要选了一个会员级别，本栏目列表和本栏目内所有文章需要登录才能访问；并且只有选了的会员级别才能查看！</p>
                    <p>3.访问权限：一个都不选，无需登录就可访问！</p>
                </div>
            </div>
        </div>
    </div>
</div>