<div class="layui-tab-item">
    <input type="hidden" name="category_data[{$k}][site_id]" value="{$siteId}"/>
    <input type="hidden" name="category_data[{$k}][cd_id]" value="{$cdId}"/>
    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('Category Title',[],$s['mark'])}</label>
        <div class="layui-input-block">
            <input class="layui-input" name="category_data[{$k}][catname]"  placeholder="{:lang('Category Title',[],$s['mark'])}" type="text" value="{$category_data[$k-1]['catname']}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('Category Description',[],$s['mark'])}</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" name="category_data[{$k}][description]" placeholder="{:lang('Category Description',[],$s['mark'])}">{$category_data[$k-1]['description']}</textarea>
        </div>
    </div>
    <div class="layui-form-item web_seo">
        <label class="layui-form-label">{:lang('Page Title',[],$s['mark'])}</label>
        <div class="layui-input-block">
            <input class="layui-input" name="category_data[{$k}][setting][title]" placeholder="{:lang('Title set for search engine',[],$s['mark'])}" type="text" value="{$page_title}">
        </div>
    </div>
    <div class="layui-form-item web_seo">
        <label class="layui-form-label">{:lang('Page Keyword',[],$s['mark'])}</label>
        <div class="layui-input-block">
            <input class="layui-input" name="category_data[{$k}][setting][keyword]" placeholder="{:lang('Keywords separated by half comma',[],$s['mark'])}" type="text" value="{$page_keyword}">
        </div>
    </div>
    <div class="layui-form-item web_seo">
        <label class="layui-form-label">{:lang('Page Description',[],$s['mark'])}</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" name="category_data[{$k}][setting][description]" placeholder="{:lang('Page description for search engine settings',[],$s['mark'])}">{$page_description}</textarea>
        </div>
    </div>
</div>