<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-collapse" lay-accordion="">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><i class="iconfont icon-systemprompt"></i>推送注意事项：<i class="layui-icon layui-colla-icon"></i></h2>
                <div class="layui-colla-content layui-show">
                    <p>1.已选中状态表示该语言已被推送过，再次推送将不会重新覆盖！</p>
                    <p>2.如果原文已修改，需重新推送并翻译，重新推送，请选择“是”！</p>
                    <p>3.如果原语言和目标语言相同，会无差别推送！</p>
                    <p>4.如果推送的翻译不是非常准确，可切换到当前站点，修改后重新提交！</p>
                    <p>5.所有站点为什么只有一个？在CMS配置中发布模式修改为“多站”模式即可！</p>
                </div>
            </div>
        </div>
    </div>
</div>