<div class="layui-tab-item">
    <input type="hidden" name="category_data[{$k}][site_id]" value="{$category_data[$k-1]['site_id']}"/>
    <input type="hidden" name="category_data[{$k}][cd_id]" value="{$category_data[$k-1]['id']|default=''}"/>
    <div class="layui-form-item">
        <label class="layui-form-label">栏目标题</label>
        <div class="layui-input-block">
            <input class="layui-input" name="category_data[{$k}][catname]"  placeholder="栏目名称" type="text" value="{$category_data[$k-1]['catname']|default=''}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">栏目简介</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" name="category_data[{$k}][description]" placeholder="栏目简介">{$category_data[$k-1]['description']|default=''}</textarea>
        </div>
    </div>
    <div class="layui-form-item web_seo">
        <label class="layui-form-label">SEO标题</label>
        <div class="layui-input-block">
            <input class="layui-input" name="category_data[{$k}][setting][title]" placeholder="针对搜索引擎设置的标题" type="text" value="{$category_data[$k-1]['setting']['title']|default=''}">
        </div>
    </div>
    <div class="layui-form-item web_seo">
        <label class="layui-form-label">SEO关键词</label>
        <div class="layui-input-block">
            <input class="layui-input" name="category_data[{$k}][setting][keyword]" placeholder="关键字中间用半角逗号隔开" type="text" value="{$category_data[$k-1]['setting']['keyword']|default=''}">
        </div>
    </div>
    <div class="layui-form-item web_seo">
        <label class="layui-form-label">SEO描述</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" name="category_data[{$k}][setting][description]" placeholder="针对搜索引擎设置的网页描述">{$category_data[$k-1]['setting']['description']|default=''}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">栏目介绍 </label>
        <div class="layui-input-block border-none">
            <script type="text/plain" class="js-ueditor" id="detail{$k}" name="category_data[{$k}][detail]" lay-verify="required" lay-reqText="内容不能为空" >{$category_data[$k-1]['detail']|default=''|raw}</script>
        </div>
    </div>
</div>