{template file="member/header.html"/}
<div class="layui-tab layui-tab-brief" lay-filter="user">
    <ul class="layui-tab-title" id="LAY_mine">
        <li class="layui-this" lay-id="info">邀请好友</li>
    </ul>
    <div class="layui-tab-content" style="padding: 20px 0;">
        <div class="layui-form layui-form-pane layui-tab-item layui-show">
            <div class="layui-form-item">
                <div class="layui-input-inline" style="min-width: 400px;">
                    <input type="text" autocomplete="off" value="{:url('addons/invite/index','',false,true)}?userCode={$userCode}" class="layui-input">
                </div>
                <button class="layui-btn btn-invite" type="button" data-clipboard-text="{:url('addons/invite/index','',false,true)}?userCode={$userCode}">复制链接</button>
            </div>
            <blockquote class="layui-elem-quote layui-text">
                <h4>推广说明：</h4>
                <ul>
	                <li>请勿作弊，否则封相关账户不通知； </li>
	                <li>注册成功后你将获得 <b>{$config.inviterscore}</b> 积分，TA获得 <b>{$config.inviteescore}</b> 积分</li>
	                {if $config.dailymaxinvite}
	                <li>每天邀请的前{$config.dailymaxinvite}名赠送积分，后面的不赠送积分</li>
	                {/if}
	                <li>推广统计可能与实际存在差异，具体以实际数据为准。</li>
	            </ul>
            </blockquote>
            <table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
        </div>
    </div>
</div>
{include file="../member/layui" /}
<script type="text/javascript">
layui.define(['layer', 'element', 'clipboard', 'table'], function(exports) {
    var element = layui.element,
        clipboard = layui.clipboard,
        table = layui.table;

    table.render({
        elem: '#dataTable',
        url: '{:url("init")}',
        cols: [
            [
                { field: 'id', width: 60, title: 'ID' },
                { field: 'invited', width: 70, title: '头像', templet: '<div><img src="{{d.invited.avatar}}" width="30"></div>' },
                { field: 'invited', title: '用户名', templet: '<div>{{d.invited.username}}</div>' },
                { field: 'invited', title: '邮箱', templet: '<div>{{d.invited.email}}</div>' },
                { field: 'ip', width: 180, title: 'IP' },
                { field: 'create_time', width: 180, title: '加入时间' },
            ]
        ],
        page: {}
    });

    var clipboard = new clipboard('.btn-invite');
    clipboard.on('success', function(e) {
        layer.msg("复制成功", { icon: 1 });
    });
    clipboard.on('error', function(e) {
        layer.msg("复制失败！请手动调用", { icon: 2 });
    });
})
</script>
{template file="member/footer.html"/}