body{padding-top:70px;color:#666;background:#f4f7f7;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'}
.layui-btn-container{padding: 10px 0}
.layui-main{position: relative;z-index: 1;overflow: hidden;width: 100% !important;margin: 15px auto}
.body-height{min-height: calc(100vh - 70px - 140px - 30px);}
.body-height-show{min-height: calc(100vh - 70px - 500px - 30px);}
.body-height-page{min-height: calc(100vh - 70px - 870px - 30px);}
.layui-top-20{margin-top: 20px}

.header{position:fixed;top:0;left:0;right:0;background-color:#fff;z-index:1000;padding:0 60px;box-shadow:0 1px 2px 0 rgba(0,0,0,0.05)}
.header .layui-logo{height:70px;line-height:70px;display:inline-block;font-size:22px;font-weight:600;color:#333;}
.header .layui-logo img{height:50px;margin-right: 10px}
.header .layui-nav{padding:0;background-color:transparent;position:absolute;right:70px;top:0}
.header .layui-nav > .layui-nav-item{padding:0 10px}
.header .layui-nav > .layui-nav-item > a{height:70px;line-height:70px;color:#666;font-size:16px;padding:0 5px;position:relative;cursor:pointer}
.header .layui-nav > .layui-nav-item > a > span{max-width:90px;overflow:hidden;display:inline-block;vertical-align:middle;text-overflow:ellipsis;white-space:nowrap}
.header .layui-nav > .layui-nav-item > a:hover,.header .layui-nav > .layui-nav-item.layui-this > a{color:#3ec483}
.header .layui-nav .layui-nav-more{border-color:#999 transparent transparent}
.header .layui-nav .layui-nav-mored{border-color:transparent transparent #999}
.header .layui-nav > .layui-nav-item > a:hover > .layui-nav-more,.header .layui-nav > .layui-nav-item.layui-this > a > .layui-nav-more{border-color:#3ec483 transparent transparent}
.header .layui-nav > .layui-nav-item > a:hover > .layui-nav-mored,.header .layui-nav > .layui-nav-item.layui-this > a > .layui-nav-mored{border-color:transparent transparent #3ec483}
.header .layui-nav .layui-nav-bar,.header .layui-nav > .layui-nav-item:after{display:none}
.header .layui-nav > .layui-nav-item > a:after{content:'';position:absolute;bottom:0;left:0;right:0;width:0;margin:0 auto;height:3px;background-color:#3ec483;transition:width .2s ease-out}
.header .layui-nav > .layui-nav-item.layui-this > a:after,.header .layui-nav > .layui-nav-item > a:hover:after{width:100%}
.header .layui-nav > .layui-nav-item > .layui-nav-child{top:75px;border-radius:0;border-color:#dfdfdf;box-shadow:0 2px 5px rgba(0,0,0,.1);min-width:unset;width:120px;right:0;margin:0 auto}
.header .layui-nav > .layui-nav-item.nav-btn-login{height:70px;line-height:70px;padding:0 0 0 15px}
.header .layui-nav > .layui-nav-item.nav-btn-login > a{padding:0 15px;height:30px;line-height:30px;border-radius:35px;display:inline-block;vertical-align:middle;background-color:rgba(0,0,0,.08)}
.header .layui-nav > .layui-nav-item.nav-btn-login > a:hover{color:#666;background-color:rgba(0,0,0,.15)}
.header .layui-nav > .layui-nav-item.nav-btn-login > a:after{display:none}

.header .layui-nav .layui-search{display: flex}
.header .layui-nav .layui-search .search-btn{margin-left: -30px;background-color: #fe7300;padding: 0 9px!important;}
.header .nav-toggle{display:none}
.layui-nav-img{margin-right:5px;vertical-align:middle}

.header .layui-nav .layui-nav-more{right: -8px;}



@media screen and (max-width:768px){
    body {padding-top: 50px;background: #FFF;}
    .header{padding:0 10px;box-sizing: border-box}
    .header .layui-logo img{height: 35px}
    .header .layui-logo{height:55px;line-height:55px;background-position:0 12px}
    .header .layui-nav{position:absolute;top:50px;right:0;width:160px;border-radius:5px;background-color:#fff;box-shadow:0 0 10px rgba(0,0,0,.15);overflow:hidden;transform:scale(0);transform-origin:top right;opacity:0;-webkit-transition:all .3s;transition:all .3s;max-height:380px;max-height:-moz-calc(100vh - 60px);max-height:-webkit-calc(100vh - 60px);max-height:calc(100vh - 60px);overflow-y:auto}
    .header .layui-nav .layui-nav-item{display:block;padding:0}
    .header .layui-nav .layui-nav-item > a{line-height:40px;height:40px;text-align:center;font-size:14px}
    .header .layui-nav .layui-nav-item > a .layui-nav-more{right:15px}
    .header .layui-nav .layui-nav-item.layui-this > a:after,.header .layui-nav .layui-nav-item > a:hover:after{display:none}
    .header .layui-nav .layui-nav-item.layui-this > a{color:#fff;background-color:#3ec483}
    .header .layui-nav > .layui-nav-item.nav-btn-login{line-height:unset;height:unset;padding:0}
    .header .layui-nav > .layui-nav-item.nav-btn-login > a{line-height:40px;height:40px;background-color:transparent;display:block;border-radius:0}
    .header .layui-nav > .layui-nav-item.nav-btn-login > a:hover{background-color:transparent;color:#3ec483}
    .header .layui-nav > .layui-nav-item > .layui-nav-child{position:static;background-color:transparent;box-shadow:none;animation:none;border:0;margin:0;width:100%}
    .header .layui-nav > .layui-nav-item > .layui-nav-child a{text-align:center;line-height:40px;height:40px;font-size:14px}
    .header .layui-nav > .layui-nav-item > .layui-nav-child a:hover{background-color:transparent;color:#3ec483}
    .header .nav-toggle{line-height:53px;height:55px;cursor:pointer;display:block;padding:0 3px;color:#666}
    .header .nav-toggle > i{display:inline-block;font-size:24px;font-weight:600;vertical-align:middle;-webkit-transition:all .3s;transition:all .3s;width:24px;height:24px;line-height:24px}
    .header .ew-nav-group{position:absolute;right:5px;top:0}
    .header .ew-nav-group:hover > .layui-nav{transform:scale(1);opacity:1}
    .header .ew-nav-group:hover .nav-toggle > i{transform:rotate(-90deg)}
    .layui-card-header{padding: 0!important;}
    .layui-container {padding: 0 10px!important;}
}
.banner-show{height: 400px!important;overflow: hidden}

.banner-show img{width: 100%}
.banner{width:100%;float:left;height:695px!important;text-align:center;overflow:hidden;position:relative;}
.banner .swiper-container{}
.banner .swiper-slide{width:100%;float:left;height:695px;}
.banner #mainTheme{letter-spacing: -3px;padding-top: 160px;margin-bottom:20px;color:#fff;text-align:center;position:relative;display:inline-block;}
.banner #mainTheme h1{font: italic bold 120px/100% Arial;color:#fff;padding-right:20px;}
.banner #mainTheme h1 span{color:#ff7200;}

.banner .item1{background: #66d09d;}
.banner .item1 p{margin-bottom: 10px;font: normal 34px/400% microsoft yahei;text-shadow: 1px 1px 0 #1A668E;text-align:center;letter-spacing:3px;color:#fff;}
.banner .item2{background: #668eff;}
.banner .item2 h2{font: normal 34px/200% arial,microsoft yahei;margin-top: 120px;color: #fff;}
.banner .item2 ul{margin-top:40px;}
.banner .item2 ul li{display:inline-block;margin:0 10px;}
.banner .subbtn{text-align:center;}
.banner .button{font-size:16px;color:#fff;margin:0 7px;padding:10px 25px;border-radius:20px;text-decoration:none;border:1px solid #fff;transition: all .4s cubic-bezier(.4,0,.2,1);}
.banner .button:hover{color:#065fe3;background-color:#fff;}
.banner .mainbtn{text-align:center;margin-top:50px;}
.banner .mainbtn a{font-size:16px;color:#3566f2;margin:20px auto;padding:10px 25px;background: #fff;border-radius:20px;text-decoration:none;}

@media screen and (max-width:768px){
    .inner{width: 100%}
    .banner #mainTheme h1 {font: italic bold 60px/100% Arial;padding-right: 0px;}
    .banner .item2 h2 {font: normal 20px/200% arial,microsoft yahei;}
    .banner #mainTheme{padding-top: 100px}
    .banner .item1 p{font: normal 20px/200% arial,microsoft yahei;}
}

.merit .layui-icon{height:52px;width: 52px;margin: 0 auto; background-color:rgba(62,196,131,.15);color:#3ec483;padding:15px;border-radius:50%;font-size:22px;box-sizing:border-box}
.merit .layui-icon{ cursor: pointer;-webkit-transition: all .5s ease;transition: all .5s ease;text-align: center;}
.merit .layui-icon:hover{ transform: rotate(360deg); border-color: #009688;opacity: 1; }

.merit .content{border: 1px solid #DEDEDE; padding: 30px 36px 30px 36px; text-align: center; transition: 0.3s;background: #fff;}
.merit .content p.label{font-size: 18px; color: #666666; line-height: 46px; padding-top: 5px;}
.merit .content a{font-size: 18px; color: #a1d8cb; line-height: 68px;}
.merit .content:hover{box-shadow: 0 0 3px 3px #EEE; transition: 0.3s;}
.merit > div:nth-child(even) .merit .layui-icon{background-color:rgba(0,173,181,.15);color:#00adb5}
.merit h3{font-size:20px;margin:5px 0 20px 0;color:#333;font-weight:400}
.merit p{font-size:16px;margin-bottom:5px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}

.project-list-item{background-color: #fff;border-radius: 4px;cursor: pointer;transition: all .2s;}
.project-list-item:hover{box-shadow: 2px 0 4px rgba(0, 21, 41, .35);}
.project-list-item .project-list-item-cover{width: 100%;height: 180px;display: block;border-top-left-radius: 4px;border-top-right-radius: 4px;}
.project-list-item-body{padding: 20px;border: 1px solid #e8e8e8;}
.project-list-item .project-list-item-body>h2{font-size: 16px;margin-bottom: 12px;height: 24px;line-height: 24px;overflow: hidden;white-space: normal;text-overflow: ellipsis}
.project-list-item .project-list-item-text{height: 40px;overflow: hidden;margin-bottom: 12px;}
.project-list-item .project-list-item-desc{position: relative;}
.project-list-item .project-list-item-desc .time{color: #999;font-size: 12px;}
.project-list-item .project-list-item-desc .ew-head-list{position: absolute;right: 0;top: 0;}
.ew-head-list .ew-head-list-item:first-child{margin-left: 0;}
.ew-head-list .ew-head-list-item{width: 22px;height: 22px;border-radius: 50%;border: 1px solid #fff;margin-left: -10px;}
.ew-head-list .ew-head-list-item{width: 22px;height: 22px;border-radius: 50%;border: 1px solid #fff;margin-left: -10px;}
.cloud-card-component{padding: 20px;}
.cloud-card-component .layui-laypage .layui-laypage-curr .layui-laypage-em{border-radius: 0px !important;}
.ew-table-loading{padding: 10px 0;text-align: center;}
.ew-table-loading > i{color: #999;font-size: 30px;}
.ew-table-loading.ew-loading-float{position: absolute;top: 0;left: 0;right: 0;}

.title-article{margin: 15px;border-bottom: 1px solid #eee;padding: 10px 0}
.title-article h1 {padding-bottom: 10px }
.title-article p {margin-bottom: 10px; color: #666 }
.title-article p span {margin-right: 10px }
.title-article .titlepic {background: #fff; width: 150px; height: 150px; line-height: 150px; float: left; text-align: center }
.title-article .titlepic img {max-width: 110px; max-height: 110px }
.title-article .title-msg {margin-bottom: 10px }
.title-article .title-msg span {color: #999; margin-right: 10px }
.title-article .title-msg span a {color: inherit }
.title-article .title-msg span a:hover {color: #1e9fff }
.title-article .title-right {position: absolute; top: 20px; right: 15px; background: #f5f5f5; padding: 10px; overflow: hidden }
.title-article .title-right img {max-width: 120px !important; max-height: 120px !important }


@media screen and (max-width: 768px){
    .title-article{padding: 0!important;}
    .list-card .list-pic {margin-right: 15px!important;}
    .title-article {margin: 15px 0;}
    .item-box .list-text h2{font-size: 18px}
    .title-article .title-msg span:first-child{display: none}
    .title-article .title-msg span:last-child{float: right}
}
/* 面板 */
.list-card {border-radius: 6px; margin-bottom: 10px; }
.list-card .list-pic {width: 150px; height: 150px; line-height: 150px; float: left; text-align: center; overflow: hidden; margin-right: 25px }
.list-card .list-pic img {max-width: 100% }
.list-card p {display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden }
.title-article {background:var(--background); overflow: hidden; padding: 20px 20px 10px 20px; position: relative;}
.item-box{background-color: #fff;border: 1px solid var(--classC);transition: All 0.3s ease-in-out; -webkit-transition: All 0.3s ease-in-out; -moz-transition: All 0.3s ease-in-out; -o-transition: All 0.3s ease-in-out; }
.item-box:hover {border: 1px solid #1ca9f6; -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.1); box-shadow: 0 10px 20px rgba(0,0,0,0.1); position: relative; z-index: 2; }
.item-box .list-text{padding: 10px}
.item-box .list-text h2{margin-bottom: 15px}
.myself{position:absolute;right:0px;top:0px;}
.title-article h1 {padding-bottom: 10px ;    color: var(--main);}
.title-article h2{color: #999}
.title-article p {margin-bottom: 10px; color: #666 }
.title-article p span {margin-right: 10px }
.title-article .titlepic {background: #fff; width: 150px; height: 150px; line-height: 150px; float: left; text-align: center }
.title-article .titlepic img {max-width: 110px; max-height: 110px }
.title-article .title-msg {margin-top: 10px }
.title-article .title-msg span {color: #999; margin-right: 10px }
.title-article .title-msg span a {color: inherit }
.title-article .title-msg span a:hover {color: #1e9fff }
.title-article .title-right {position: absolute; top: 20px; right: 15px; background: #f5f5f5; padding: 10px; overflow: hidden }
.title-article .title-right img {max-width: 120px !important; max-height: 120px !important }
.title-sidebar {border-bottom: 1px solid var(--classC); width: 100%; color: var(--main); font-weight: 600; padding-bottom: 10px; margin-bottom: 10px; overflow: hidden; }
.title-sidebar i {color: var(--main); margin: 5px }
.title-sidebar h3 {font-weight: 600 }
.text,.reward,.copy-text,.relates,.user-text,.comment-text,.tags-text,.time-text {background: var(--background); padding: 20px; }
.text {padding-top: 0; padding-bottom: 0; line-height: 2; overflow: hidden }
.text .tab-content {padding-top: 15px; padding-bottom: 15px; margin-bottom: 10px; height: 500px; overflow-y: scroll }
.text img:not([class]) {max-width: 80% !important; height: auto !important; /*margin: 20px auto;*/ display: block; }
.time-text{font-size: 12px; color: #999; text-align: right; }
.the-end {padding: 40px 0 60px;background:var(--background);}
.the-end img {width: 92px;height: 11px;display: block;margin: 0 auto;}


.layui-left{padding: 0!important;margin-bottom: 10px}
.layui-left .left-nav-title{position: absolute; left: 0; width: 100%; z-index: 100;top: -50px; background: #fff;  box-shadow: 0px 1px 5px rgba(0,0,0,0.15);text-align: center}
.layui-left .left-nav-title .title{font-size: 16px; background: #FF9434; line-height: 50px;color: #FFF;}
.layui-left .layui-panel{text-align: left;border-width: 0px;width: 100%;}
.layui-left .layui-panel .layui-menu{margin: 0!important;}
.layui-left .layui-panel .layui-menu li{margin: 0!important;padding: 10px;text-align: center}
.layui-left .layui-panel .layui-menu .layui-menu-item-divider{margin: 0!important;padding: 0!important;}

.section{margin:0 auto;display: block;padding: 20px 0;overflow: hidden;float: left;width: 100%}
.section:nth-child(odd){background-color:#fff}
.section-title{padding:40px 0;text-align:center}
.section-title > h2{color:#333;font-size:30px;font-weight:400;margin-bottom:10px}
.section-title > p{font-size:14px;color:#666}

.layui-text, .layui-text p{line-height: 22px;font-size: 14px;color: #666;}
.layui-text a:not(.layui-btn){color: #666;}
.layui-text a:not(.layui-btn):hover{color: #66d09d!important;}
.layui-text img{display: block;margin: 0 auto;max-width: 100%}
.layui-desc{height: 48px;line-height: 24px;width: 100%;overflow: hidden;white-space: normal;text-overflow: ellipsis}

.layui-btn-center{text-align: center}
.product-card{background-color:#fff;box-shadow:0 2px 5px 0 rgba(0,0,0,0.04),0 2px 10px 0 rgba(0,0,0,0.06);margin-bottom:10px}
.product-card .product-cover{position:relative;height:240px;width:100%;overflow:hidden;text-align:center}
.product-card .product-cover > .product-cover-img{height:100%;width:100%;background-repeat:no-repeat;background-position:center;background-size:cover;transition:all .4s}
.product-card .product-cover:after{content:"";position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0);transition:all .4s}
.product-card .product-cover > .product-tools{position:absolute;top:45%;left:45%;z-index:1}
.layuimini-btn-show{margin-top:15px !important;}
.product-card .product-cover > .product-tools .layui-btn{color:#fff;border:1px solid #fff;background-color:transparent;border-radius:0;height:36px;line-height:36px;min-width:85px;box-sizing:border-box;transition:all .4s;transform:scale(0);opacity:0}
.github-header iframe{position:relative;width:100px;height:30px;border:none;top:15px;}
.product-card:hover .product-cover > .product-cover-img{transform:scale(1.5)}
.product-card:hover .product-cover > .product-tools .layui-btn{opacity:1;transform:scale(1)}
.product-card:hover .product-cover:after{background-color:rgba(0,0,0,.35)}
.product-card .product-body{padding:15px 20px;position:relative;overflow: hidden;}
.product-card .product-body .title{height: 34px;line-height: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;text-align: center}
.product-card .product-body .title a{}
.product-card .product-body .title a:hover{color: #111}
.product-card .product-body .attr{line-height: 24px;height: 30px;overflow: hidden}
.product-card .product-body .attr em{float: left;font-style: normal;font-size: 16px;color: #f40}
.product-card .product-body .attr span{color: #888;float: right;}
.product-card .product-body .info a{line-height: 20px;display: block;float: left;text-align: center;}
.product-card .product-body .info .list_seller{float: left;background: #fafafa;border: 1px solid #e3e3e3;height: 20px}
.product-card .product-body .info .pic_Layer{height: 18px;width: 18px;border: 1px solid #fff}
.product-card .product-body .info .xy{margin: 0 4px;vertical-align: 2.5px}
.product-card .product-body .info .note_icon{float: right}

.note_icon a:hover{color: red}
.note_icon a{padding-right: 5px;float: left}
.note_icon a i{color: #999;border: 1px solid #ddd;background: #f9f9f9;float: left;overflow: hidden;text-align: center;height: 19px;line-height: 19px;padding: 0 4.5px}
.note_icon a i.protect{color: #6a4;border-color: #6a4;background: #eff}
.note_icon a i.score{color: #f60;border-color: #FF7E00;background: #FFF5EE}
.note_icon a i.send{color: #b68571;border-color: #e3c8bd;background: #fffbf6}
.note_icon a i.install0{color: #498BF8;border-color: #71a3f5;background: #EEF9FF}

.angle_box{position: relative;overflow: hidden;box-sizing: border-box}
.angle{ width: 95%; height: 30px; line-height: 30px; text-align: center; margin-left: 45%; margin-top: 5px; position: absolute; transform: rotate(45deg);}
.free{background-color: #ccc; color: white; }
.auth{background-color: #fe7300; color: white;}

.case-intro .intro-txt{padding: 10px;}
.case-intro .intro-txt .title{line-height: 35px; padding: 30px 0 20px; font-size: 32px; color: #333;}
.case-intro .intro-txt .title span{display: inline-block; font-size: 18px; line-height: 30px; padding: 0 10px; color: #FFF; background-color: #383e49; border-radius: 3px; vertical-align: top; margin-top: 24px; margin-right: 10px;}
.case-intro .intro-txt p.desc{font-size: 16px; color: #8b8b8b; line-height: 28px; letter-spacing: 1px;}

.case-intro .intro-txt #introrate{margin-bottom: 45px;}
.case-intro .intro-txt #shopEvent a{display: inline-block; width: 120px; margin-right: 25px; line-height: 32px; font-size: 14px; color: #FFF; text-align: center;}
.case-intro .intro-txt #shopEvent a i{font-size: 16px; margin-right: 10px; display: inline-block; vertical-align: top;}
.case-intro .intro-txt .collect-price{color: #f44e2d; font-size: 26px; padding-top: 15px; padding-bottom: 20px; line-height: 22px;}
.case-intro .intro-txt.collect .collect-price span{font-size: 14px;}

.case-content .detail-body img{border: 1px solid #f6f6f6; cursor: default;margin: 0 auto;display: block;max-width: 100%}
.case-content .layui-card-body a{color: #333}
.case-content .layui-card-body a:hover{color: #3ec483}

.media:first-child{margin-top: 0;}
.media, .media-body{zoom: 1; overflow: hidden;}
.media-left, .media-right, .media-body{display: table-cell; vertical-align: top;}
.media-left, .media > .pull-left{padding-right: 10px;}
.media-body .label-success{color: #fff!important;display:inline-block;padding:.3em .4em;}
.avatar-img{font-size: 0;}
.avatar-text, .avatar-img{display: inline-block; box-sizing: content-box; color: #fff; text-align: center; vertical-align: top; background-color: #e8ecf3; font-weight: normal; width: 48px; height: 48px; border-radius: 48px; font-size: 24px; line-height: 48px;}
.avatar-img img{border-radius: 48px; width: 48px; height: 48px;}
.label-success{background-color: #18bc9c;}
.label{display: inline; padding: .2em .6em .3em; font-size: 75%; line-height: 1; color: #fff; text-align: center; white-space: nowrap; vertical-align: baseline; border-radius: .25em;}
.version-details {margin: 15px 0;overflow: hidden}
.rating-star{padding: 0 2px; margin: 0; cursor: pointer; display: block; float: right;}
.rating{overflow: hidden; display: inline-block; position: relative; font-size: 14px; color: #FFCA00;}
.rating-star:after{position: relative; font-family: FontAwesome; content: '\f006';}
.rating-star.checked ~ .rating-star:after, .rating-star.checked:after{content: '\f005';}


/*video*/
.videolist:hover{ cursor: pointer; }
.videoed { display:none; width:50px; height:50px; position: absolute; left:45%; top:45%; z-index:99; border-radius:100%; font-size: 30px;color: #fff;}
.videos{ display:none; border: 1px solid #080808; position:fixed; left:50%; top:50%; margin-left:-320px; margin-top:-210px; z-index:100; width:640px;padding: 0!important;}
.vclose {position:absolute;right:1%;top:1%;border-radius:100%;cursor: pointer;font-size: 20px;color: #fff;}
.videos #video{width:640px; }
@media screen and (max-width: 768px){
    .videos{width: 100%;margin-left: -50%;margin-top: -50%;}
    .videos #video{width:100%; }
}
/*筛选*/

.store-cat-item{font-size: 14px; line-height: 26px; padding: 15px 0 0;}
.store-cat-item span{color: #555; width: 100px; vertical-align: top;}
.store-cat-item span, .store-cat-item ul, .store-cat-item ul li{display: inline-block; vertical-align: middle;}
.store-cat-item ul{width: 80%; vertical-align: top;}
.store-cat-item ul li{margin-right: 10px; cursor: pointer;}
.store-cat-item ul li.active a {color: #5eba78;}
.store-cat-item ul li a:hover{color: #5eba78;}



/*表单*/
.layui-text .layui-input, .layui-text .layui-textarea{float: left}

.copyright{line-height:20px;text-align:center;background-color:#3a3f49;color:#aaa;font-weight:lighter;font-size:13px;}
.copyright ul,.copyright li{margin:0;padding:0;list-style:none;display:inline-block;}
.copyright a:hover{color:#fff;}
.copyright a:hover{color:#fff;}
.copyright a{color:#aaa;}
.copyright .links li{padding:0 12px;border-right:1px solid #979797;}
.copyright .links li{padding:0 12px;border-right:1px solid #979797;}
.copyright .links li:last-child{border:0;}
.copyright ul,.copyright li{margin:0;padding:0;list-style:none;display:inline-block;}
.copyright .links{padding:20px 0 20px 0;}
.copyright {padding: 30px 0 30px 0;width: 100%;margin: 0 auto;overflow: hidden;}

/*上下页*/
.page-text {margin-bottom: 10px; font-size: 14px; overflow: hidden;padding: 10px 20px;border-top: 1px solid #eee;margin-top: 15px}
.page-text a{color: #666!important;}
.page-text i{font-size: 14px!important;}
.page-text .previous {border-right: 1px solid #f3f3f3; }
.page-text .nav-span {float: left; width: 49%; text-align: center; padding: 10px 20px; white-space: nowrap; word-wrap: normal; text-overflow: ellipsis; overflow: hidden;box-sizing: border-box }
.page-text .d-block {display: block; }

/*分页*/
.layui-laypage{text-align: center;width: 100%}

/*分页*/
#pages{text-align: center;}
#pages li{margin: 0 2px;height: 32px;line-height: 32px;text-align: center;background: #e6e6e6;color: #333;display: inline-block;}
#pages li a{font-size: 14px;display: block;padding: 0 12px;}
#pages li span{font-size: 14px;display: block;padding: 0 12px;}
#pages li.active{text-align: center;background: #f90712;color: #fff;display: inline-block;}
#pages li:hover{background: #f90712;}
#pages li:hover a{color: #fff;}

@media screen and (max-width: 768px){
    .layui-left .left-nav-title{width: 100%;top: 10px;}
    .layui-left .left-nav-title dl dd{margin-top: 8px}
    .shop-temp .temp-hot{padding-top: 30px;}
    .temp-title-cn{margin-bottom: 30px; font-size: 20px;}
    .temp-title-cn span{height: 2px; margin-left: -105px;}
    .temp-title-cn span:last-child{margin-left: 55px;}

    .store-list-box .store-list-cover{height: auto;}
    .store-cat-item span{width: 80px;}
    .store-cat-item ul{width: 60%;}
}


@media screen and (min-width: 768px){
    .layui-left .input-search a.userBtn{width: 80px; font-size: 14px; margin-left: 20px;}
    .layui-left .left-nav-title dl dt{display: block;}
    .layui-left .left-nav-title dl dd{display: block; width: 100%; margin: 0; line-height: 60px; border: none; border-radius: none; border-bottom: 1px solid #f0f0f0;}
    .layui-left .left-nav-title dl dd a{line-height: 65px;}
    .layui-left .left-nav-title dl dd:last-child{border-bottom: none;}
    .case-intro .intro-txt #shopEvent a{padding: 0 20px; line-height: 36px;}
    .case-intro .intro-txt #shopEvent a i{font-size: 16px;}
    .case-reply{padding: 40px 100px 20px;}
    .case-reply dd .reply-img + p span{margin-left: 40px;}
    .case-reply dd .reply-content + span{top: 80px; right: 20px;}

    .store-cat-item
    ,.store-cat-item span i{font-size: 16px;}
    .store-cat-item ul li{margin-right: 27px;}
    .store-cat-item{padding-bottom: 15px;}
    .store-cat-item span{width: auto;}

    .store-list-box .store-list-cover{height: 218px;}
}

@media screen and (min-width: 992px){
    .layui-left .input-search a.userBtn{width: 120px; font-size: 16px; margin-left: 80px;}
    .case-intro .intro-txt #introrate{margin-bottom: 15px;}
    .case-intro .intro-txt #shopEvent.scroll{width: 240px; height: 187px; position: fixed; top: 220px; right: 0; z-index: 999; border-radius: 2px; background-color: rgba(255,255,255, 0.45); }
    .case-intro .intro-txt #shopEvent.scroll a:first-child{position: absolute; top: 105px; left: 20px;}
    .case-intro .intro-txt #shopEvent.scroll a:last-child{position: absolute; top: 32px; left: 20px; margin-left: 0;}
    .case-intro .intro-txt.collect .collect-price{padding-top: 0; padding-bottom:0;}
    .case-intro .intro-txt.collect #introrate{margin-bottom: 0;}

    .store-list-box .store-list-cover{height: 185px;}
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .raise-detail{height: 388px;}
    .raise-project .project-sup ul li img{margin-right: 5px;}
    .raise-project .project-sup ul li span{letter-spacing: 0;}
    .raise-project .project-sup ul li span:nth-child(3){right: 70px;}
    .case-intro .intro-txt .title{font-size: 22px; line-height: 56px;}
    .case-intro .intro-txt .title span{font-size: 16px; line-height: 26px; margin-top: 14px;}
    .case-intro .intro-txt p + ul{padding: 10px 0 5px;}
    .case-intro .intro-txt.collect p + ul{padding: 5px 0;}
}

@media screen and (min-width: 1200px){
    .raise-detail > p{line-height: 122px;}
    .raise-detail{height: 468px;}
    .raise-detail .detail-target{margin-bottom: 52px;}
    .layui-left .shop-banner .layui-carousel img{margin-left: -15%;}

    .store-list-box .store-list-cover{height: 165px;}
}

@media screen and (min-width: 1366px){
    .layui-container{width: 1320px;}
    .raise-detail{height: 480px;}

    .store-list-box .store-list-cover{height: 188px;}
}

@media screen and (min-width: 1440px){
    .layui-container{width: 1400px;}
    .case-intro .intro-txt #introrate{margin-bottom: 45px;}
    .case-intro .intro-txt.collect #introrate{margin-bottom: 20px;}
    .case-intro .intro-txt.collect .collect-price{padding-top: 15px; padding-bottom: 20px;}
    .layui-left .shop-banner .layui-carousel img{margin-left: 0;}

    .store-list-box .store-list-cover{height: 200px;}
}


/*加载更多*/
.layui-load{width:auto; margin:0; overflow: hidden}
.layui-load a{ margin:.5rem auto; display:block; width:230px; line-height:56px; background:#ff5722; color:#FFF!important; font-size:16px; text-align:center;}
.layui-load a.no-date{ background:#ccc;}
.layui-load:last-child{ width:100%;}
