#toolbar {position: fixed; z-index: 9999; right: 17px; bottom: 10%; }
#toolbar li {margin-bottom: 3px; font-size: 0; width: 57px; height: 57px; right: 0; position: relative; }
#toolbar li a {display: block; position: absolute; z-index: 9; right: 0; top: 0; width: 57px; height: 57px; overflow: hidden; background: #003399; -webkit-transition: all .5s ease; transition: all .5s ease; white-space: nowrap; font-size: 0; }
#toolbar li .icon-font {display: inline-block; vertical-align: middle; width: 57px; height: 57px; background-color: #d9d9d9; }
.icon-font {position: relative; }
.icon-font:after {content: ""; width: 30px; height: 30px; background-image: url(../images/010/icon_spirit.png); background-repeat: no-repeat; position: absolute; left: calc(50% - 15px); top: calc(50% - 15px); }
#toolbar li .icon-qq:after {background-position: 0 -150px; }
#toolbar li .icon-phone:after {background-position: 0 -90px; }
#toolbar li .icon-ewm:after {background-position: 0 -30px; }
#toolbar li .icon-message:after {background-position: 0 -120px; }
#toolbar li .icon-top:after {background-position: 0 -60px; }
#toolbar li .icon-wangwang:after {background-position: 0 0; }
#toolbar li .wz {display: inline-block; line-height: 57px; font-size: 14px; color: #fff; vertical-align: middle; padding-left: 10px; }
#toolbar li.ewm .ewm-box {position: absolute; z-index: 1; padding: 5px; background: #003399; width: 110px; right: 120%; bottom: 0; opacity: 0; visibility: hidden; -webkit-transform: translateX(100%); transform: translateX(100%); -webkit-transition: all .7s; transition: all .7s; }
#toolbar li.ewm .ewm-box p {margin-bottom: 0; }
#toolbar li.ewm .ewm-box img {max-width: 100%; }
#toolbar li.ewm .ewm-box:after {content: ''; position: absolute; right: -5px; bottom: 20px; width: 0; height: 0; line-height: 0; font-size: 0; overflow: hidden; border-width: 5px; cursor: pointer; border-style: dashed dashed dashed solid; border-color: transparent transparent transparent #003399; border-right: none; }
#toolbar li.ewm:hover .icon {background-position: -57px -180px; }
#toolbar li.ewm:hover .ewm-box {opacity: 1; visibility: visible; -webkit-transform: translateY(0); transform: translateY(0); }
#toolbar li.backtop {cursor: pointer; }
#toolbar li.backtop .iconfont {color: #fff; background-color: #003399; }
#toolbar li:hover a {width: 200px; }
#toolbar li:hover .icon-font {background-color: #003399; }
#toolbar li:hover .icon-qq:after {background-position: -30px -150px; }
#toolbar li:hover .icon-phone:after {background-position: -30px -90px; }
#toolbar li:hover .icon-ewm:after {background-position: -30px -30px; }
#toolbar li:hover .icon-message:after {background-position: -30px -120px; }
#toolbar li:hover .icon-wangwang:after {background-position: -30px 0; }
#toolbar li:hover .icon-top:after {background-position: -30px -60px; }