#service{width:161px;height:290px;position:fixed;top:350px;right:0px; z-index:100;}
*html #service{margin-top:258px;position:absolute;top:expression(eval(document.documentElement.scrollTop));}
#service li{width:161px;height:60px;}
#service li img{float:right;}
#service li a{height:49px;float:right;display:block;min-width:47px;max-width:161px;}
#service li a .shows{display:block;}
#service li a .hides{margin-right:-143px;cursor:pointer;cursor:hand;}
#service li a.weixin_area .hides{display:none;position:absolute;right:143px;}
#service li a.weixin_area .weixin{display:none;position:absolute;right:0;top:48px}
#p2{width:112px;background-color:#A7D2A9;height:47px;margin-left:47px;border:1px solid #8BC48D;text-align:center;line-height:47px}
#p3{width:112px;background-color:#EC9890;height:47px;margin-left:47px;border:1px solid #E6776C;text-align:center;line-height:47px}
#p1{width:47px;height:49px;float:left}