{extend name="admin@index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">评论审核</div>
    <div class="layui-card-body">
        <div class="layui-form">
            <table class="layui-hide" id="currentTable" lay-filter="currentTable"></table>
        </div>
    </div>
</div>
<script type="text/html" id="barTool">
    <a data-open='{:url("edit")}?id={{ d.id }}' class="layui-btn layui-btn-xs" title="编辑">编辑</a>
    <a href='{:url("del")}?ids={{ d.id }}' class="layui-btn layui-btn-danger layui-btn-xs layui-tr-del">删除</a>
    <a data-request='{:url("spamcomment")}?id={{ d.id }}' data-title="审核通过" data-table="currentTable" class="layui-btn layui-btn-normal layui-btn-xs">审核</a>
</script>
{/block}
{block name="script"}
<script>
layui.use(['yznTable'], function() {
    var table = layui.yznTable;

    var init = {
        table_elem: '#currentTable',
        delete_url: "{:url('del')}",
        modify_url: '{:url("multi")}',
    };

    table.render({
        init: init,
        id: 'currentTable',
        toolbar: ['refresh','delete'],
        url: '{:url("check")}',
        cols: [
            [
                { type: 'checkbox', fixed: 'left' },
                { field: 'id', width: 70, title: 'ID'},
                { field: 'author', width: 150,align: "left", title: '作者' },
                { field: 'content', align: "left",title: '评论内容' },
                { field: 'create_time', width: 180,align:"left", title: '发布时间' },
                { field: 'author_ip',width: 150,align:"left", title: 'IP'},
                { field: 'title', width: 250, title: '原文标题'},
                { fixed: 'right', width: 170, title: '操作', toolbar: '#barTool' }
            ]
        ],
        page: {}
    });
});
</script>
{/block}