{extend name="admin@index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">评论配置</div>
    <div class="layui-card-body">
        <form class="layui-form" method="post">
            <div class="layui-form-item">
                <label>是否开启评论</label>
                <div class="layui-form-field-label">
                    <input type="radio" name="setting[status]" value="1" title="是" {if 1 == $setting['status']}checked{/if}>
                    <input type="radio" name="setting[status]" value="0" title="否" {if 0 == $setting['status']}checked{/if}>
                </div>
            </div>
            <div class="layui-form-item">
                <label>允许游客评论</label>
                <div class="layui-form-field-label">
                    <input type="radio" name="setting[guest]" value="1" title="是" {if 1 == $setting['guest']}checked{/if}>
                    <input type="radio" name="setting[guest]" value="0" title="否" {if 0 == $setting['guest']}checked{/if}>
                </div>
            </div>
            <div class="layui-form-item">
                <label>是否需要审核</label>
                <div class="layui-form-field-label">
                    <input type="radio" name="setting[check]" value="1" title="是" {if 1 == $setting['check']}checked{/if}>
                    <input type="radio" name="setting[check]" value="0" title="否" {if 0 == $setting['check']}checked{/if}>
                </div>
            </div>
            <div class="layui-form-item">
                <label>是否开启验证码</label>
                <div class="layui-form-field-label">
                    <input type="radio" name="setting[code]" value="1" title="是" {if 1 == $setting['code']}checked{/if}>
                    <input type="radio" name="setting[code]" value="0" title="否" {if 0 == $setting['code']}checked{/if}>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="">评论发表间隔时间，单位秒</label>
                <div class="layui-form-field-label">
                    <input type="text" name="setting[expire]" placeholder="评论发表间隔时间" class="layui-input" value="{$setting['expire']}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="">评论内容允许最大长度</label>
                <div class="layui-form-field-label">
                    <input type="text" name="setting[strlength]" placeholder="评论内容允许最大长度" class="layui-input" value="{$setting['strlength']}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="">前台评论排序</label>
                <div class="layui-form-field-label">
                    <input type="text" name="setting[order]" placeholder="前台评论排序" class="layui-input" value="{$setting['order']}">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-mid layui-word-aux">违禁词库位于<b class="text-danger">data/words.txt</b>一行一个,含违禁词的评论会设置为审核状态</div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn" lay-submit="" data-refresh="false" lay-filter="formSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
layui.use('yznForm', function() {
    var yznForm = layui.yznForm;
    yznForm.listen();
});
</script>
{/block}