<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#EFEFEF" style="min-height:630px;">
    <tbody><tr>
        <td valign="top" style="padding:0 50px 0 50px;">




            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                <tbody><tr>
                    <td align="center" height="40">
                        <a href="/AdminOperation/Submit2SearchEngine" class="subnav_links_la">搜索引擎</a>
                        <a href="/AdminOperation/ManageOrders" class="subnav_links_li">订单管理</a>
                        <a href="/AdminOperation/ManageNotes" class="subnav_links_li">询盘管理</a>
                    </td>
                </tr>
                </tbody></table>
            <div class="spacer"></div>
            <form action="/AdminOperation/Submit2SearchEngine" method="post">    <fieldset>
                <legend>知名搜索引擎网址提交</legend>
                <table width="100%" border="0" cellspacing="30" cellpadding="0" style="line-height:30px">
                    <tbody><tr>
                        <td width="120" align="right">
                            Google
                        </td>
                        <td width="820">
                            <a href="http://www.google.com/ping?sitemap=http://wire66.tigerwing.net/sitemap" target="_blank" class="a14blue">【点此提交“站点地图”到Google】</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="right">
                            Yandex
                        </td>
                        <td>
                            <a href="https://webmaster.yandex.com/sites/add/" target="_blank" class="a14blue">【点此提交到Yandex】</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="right">
                            Yahoo
                        </td>
                        <td>
                            <a href="http://www.soshoulu.com/sousuotijiao/yahoo/" target="_blank" class="a14blue">【点此提交到Yahoo】</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="right">
                            Bing
                        </td>
                        <td>
                            <a href="http://www.soshoulu.com/sousuotijiao/bing/" target="_blank" class="a14blue">【点此提交到Bing】</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="right">
                            SimilarSites
                        </td>
                        <td>
                            <a href="http://www.similarsites.com/addyourwebsite" target="_blank" class="a14blue">【点此提交到SimilarSites】</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="right">
                            ASR
                        </td>
                        <td>
                            <a href="https://www.activesearchresults.com/addwebsite.php" target="_blank" class="a14blue">【点此提交到ASR】</a>
                        </td>
                        <td></td>
                    </tr>
                    </tbody></table>
            </fieldset>
                <div class="spacer"></div>
                <fieldset>
                    <legend>全球知名站点提交入口</legend>
                    <table cellpadding="10">
                        <tbody><tr>
                            <td><a target="_blank" href="http://www.scrubtheweb.com/addurl.html">ScrubTheWeb</a> </td>
                            <td><a target="_blank" href="http://www.entireweb.com/">EntireWeb</a></td>
                            <td><a target="_blank" href="http://www.activesearchresults.com/addwebsite.php">ASR</a></td>
                            <td><a target="_blank" href="http://www.similarsitesearch.com/webmaster.html">SimilarSiteSearch</a></td>
                            <td><a target="_blank" href="http://www.amfibi.directory/add">Amfibi</a></td>
                            <td><a target="_blank" href="http://www.exactseek.com/add.html">ExactSeek</a></td>
                            <td><a target="_blank" href="http://www.somuch.com/submit-links/">SoMuch</a></td>
                            <td><a target="_blank" href="http://www.gigablast.com/addurl">GigaBlast</a></td>
                            <td><a target="_blank" href="http://viesearch.com/submit">Viesearch</a></td>
                            <td><a target="_blank" href="http://www.a1webdirectory.org/">A1WebDirectory</a></td>
                        </tr>
                        <tr>
                            <td><a target="_blank" href="http://www.anoox.com/add_for_indexing_free.php">Anoox</a></td>
                            <td><a target="_blank" href="http://www.secretsearchenginelabs.com/add-url.php">SecretSELabs</a></td>
                            <td><a target="_blank" href="http://www.sitepromotiondirectory.com/submit.php">SPD</a></td>
                            <td><a target="_blank" href="http://www.ananar.com/submit.php">Ananar</a></td>
                            <td><a target="_blank" href="http://www.siteswebdirectory.com/submit.php">Sites Web Directory</a></td>
                            <td><a target="_blank" href="http://www.abc-directory.com/">ABC Directory</a></td>
                            <td><a target="_blank" href="http://www.1websdirectory.com/">1WebsDirectory</a></td>
                            <td><a target="_blank" href="http://www.gainweb.org/submit.php">Gain Web</a></td>
                            <td><a target="_blank" href="http://search.sonicrun.com/freelisting">SonicRun</a></td>
                            <td><a target="_blank" href="http://www.9sites.net/addurl.php">9Sites</a></td>
                        </tr>
                        <tr>
                            <td><a target="_blank" href="http://www.submissionwebdirectory.com/submit.php">SWD</a></td>
                            <td><a target="_blank" href="http://www.247webdirectory.com/submit.aspx">24/7 Web Directory</a></td>
                            <td><a target="_blank" href="http://www.infotiger.com/addurl.html">Info Tiger</a></td>
                            <td><a target="_blank" href="http://www.acewebdirectory.com/">AceWebDirectory</a></td>
                            <td><a target="_blank" href="http://www.w3catalog.com/">W3 Catalog</a></td>
                            <td><a target="_blank" href="http://www.onlinesociety.org/submit.php">Online Society</a></td>
                            <td><a target="_blank" href="http://www.addbusiness.net/submit.php">Add Business</a></td>
                            <td><a target="_blank" href="http://www.pegasusdirectory.com/">Pegasus Directory</a></td>
                            <td><a target="_blank" href="http://www.directory-free.com/submit/submit.php">Directory Free</a></td>
                            <td><a target="_blank" href="http://www.1abc.org/submit.php">1Abc Directory</a></td>
                        </tr>
                        <tr>
                            <td><a target="_blank" href="http://www.intelseek.com/add_url_form.asp">IS</a></td>
                            <td> <a target="_blank" href="http://www.obln.org/submit.php">OBLN</a></td>
                            <td> <a target="_blank" href="http://onemission.com/">oneMission</a></td>
                            <td> <a target="_blank" href="http://www.elitesitesdirectory.com/">ESD</a></td>
                            <td> <a target="_blank" href="http://linkroo.com/submit.php">LinkRoo</a></td>
                            <td>  <a target="_blank" href="http://www.cipinet.com/suggest.php?action=addlink">Cipinet</a></td>
                            <td><a target="_blank" href="http://www.businessseek.biz/page.php?page=submission-policy">BusinessSeek</a></td>
                            <td><a target="_blank" href="http://mastermoz.com/register.php">MasterMOZ</a></td>
                            <td><a target="_blank" href="http://www.botid.org/">Botid</a></td>
                            <td><a target="_blank" href="http://www.similarpages.com/web/index.php?option=com_content&amp;view=article&amp;id=30&amp;Itemid=40">SimilarPages</a></td>
                        </tr>
                        <tr>
                            <td><a target="_blank" href="http://www.hotvsnot.com/Add-Site/Add-Site.aspx">HotvsNot</a></td>
                            <td><a target="_blank" href="http://linkcentre.com/">Link Centre</a></td>
                            <td><a target="_blank" href="http://www.onemilliondirectory.com/submit.php">OneMillionDirectory</a></td>
                            <td><a target="_blank" href="http://www.directoryseo.biz/submit.php">Directory SEO</a></td>
                            <td><a target="_blank" href="http://linkpedia.net/submit.php">LinkPedia</a></td>
                        </tr>
                        </tbody></table>
                </fieldset>
                <div class="spacer"></div>
            </form>
        </td>
    </tr>
    </tbody></table>