{extend name="admin@index_layout"/}
{block name="main"}
<link rel="stylesheet" href="__STATIC__/admin/css/cms.css">

<div class="layui-card">
    <div class="layui-card-header">源语言站：{$masterName} 目标语言站：{$siteName}</div>
    <div class="layui-card-body">
        <div class="layui-form">
            <table class="layui-hide" id="currentTable" lay-filter="currentTable"></table>
            <blockquote class="layui-elem-quote">提示：该操作将覆盖目标语种相关信息，若目标语种相关信息已修改，请谨慎操作！</blockquote>
        </div>
        <div class="layui-form-item layer-footer">
            <div class="layui-input-block">
                <input type="hidden" name="id" value="{$lang_id}">
                <button type="submit" class="layui-btn layui-btn-danger iconfont icon-close" lay-filter="close">正在翻译、千万不要关闭页面</button>
                <button type="submit" class="layui-btn iconfont icon-send" lay-submit lay-filter="sub">推送并翻译</button>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="sites">
    {{# if(d.sites.indexOf({$id})!==-1){ }}
    <span class="text-success">已推送</span>
    {{#  } else { }}
    <span class="text-danger">未推送</span>
    {{#  } }}
</script>

<script type="text/html" id="barTool">
    {{# if(d.sites.indexOf({$id})!==-1){ }}
    <a data-open='{:url("push/push")}?id={{ d.id }}' class="layui-btn layui-btn-xs" title="重新推送">重新推送</a>
    {{#  } else { }}
    <a data-open='{:url("push/push")}?id={{ d.id }}' class="layui-btn layui-btn-xs layui-btn-warm" title="翻译推送">翻译推送</a>
    {{#  } }}
</script>
{/block}
{block name="script"}
<script>
    layui.use('yznTable', function() {
        var table = layui.yznTable;

        var init = {
            table_elem: '#currentTable',
            table_render_id: 'currentTable',
            delete_url: "{:url('del')}",
            modify_url: '{:url("multi")}',
        };

        table.render({
            init: init,
            toolbar: ['refresh', [{
                        text: "一键推送",
                        url: "{:url('push')}",
                        method: 'request',
                        class: 'layui-btn layui-btn-sm',
                        icon:'iconfont icon-interactive',
                        extend: 'data-table="currentTable"',
                    }]
            ],
            url: '{:url("site")}',
            search:false,
            cols: [
                [
                    { type: 'checkbox', fixed: 'left' },
                    { field: 'id', width: 70, title: 'ID',search:false , align: "center" ,search:false},
                    { field: 'name',align: "left", title: '类别' },
                    { field: 'sites', width: 100, title: '是否推送', templet:"#sites", align: "center" },
                    { field: 'updatetime', width: 145, title: '同步时间', search: 'range',hide: true },
                    {fixed: 'right', title:'操作',width:220, toolbar: '#barTool',align:"center"}
                ]
            ],
        });
    });
</script>
{/block}

