{extend name="admin@index_layout"/}
{block name="main"}
<link rel="stylesheet" href="__STATIC__/admin/css/cms.css">

<div class="layui-card">
    <div class="layui-card-header">源语言站：{$masterName} 目标语言站：{$siteName}</div>
    <div class="layui-card-body">
        <div class="layui-form">
            <table class="layui-hide" id="currentTable" lay-filter="currentTable"></table>
            <blockquote class="layui-elem-quote">提示：该操作将覆盖目标语种相关信息，若目标语种相关信息已修改，请谨慎操作！</blockquote>
        </div>
        <div class="layui-form-item layer-footer">
            <div class="layui-input-block">
                <input type="hidden" name="id" value="{$lang_id}">
                <button type="submit" class="layui-btn iconfont icon-send" lay-submit lay-filter="sub"> 推送并翻译</button>
            </div>
        </div>
    </div>
</div>
<div id="change_div" style="display: none;padding: 20px;background: #f2f2f2;">
    <div class="scroller" style="height:250px" id="change_html"></div>
</div>
<script type="text/html" id="sites">
    {{# if(d.sites.indexOf({$id})!==-1){ }}
    <span class="text-success">已推送</span>
    {{#  } else { }}
    <span class="text-danger">未推送</span>
    {{#  } }}
</script>

<script type="text/html" id="barTool">
    {{# if(d.sites.indexOf({$id})!==-1){ }}
    <a class="layui-btn layui-btn-xs" lay-event="push" title="重新推送">重新推送</a>
    {{#  } else { }}
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="push" title="翻译推送">翻译推送</a>
    {{#  } }}
</script>
{/block}
{block name="script"}
<script>
    layui.use('yznTable', function() {
        var table = layui.yznTable;

        var init = {
            table_elem: '#currentTable',
            table_render_id: 'currentTable',
            delete_url: "{:url('del')}",
            modify_url: '{:url("multi")}',
        };

        table.render({
            init: init,
            toolbar: ['refresh', [{
                        text: "一键推送",
                        url: "{:url('push')}",
                        method: 'request',
                        class: 'layui-btn layui-btn-sm',
                        icon:'iconfont icon-interactive',
                        extend: 'data-table="currentTable"',
                    }]
            ],
            url: '{:url("site")}',
            search:false,
            cols: [
                [
                    { type: 'checkbox', fixed: 'left' },
                    { field: 'id', width: 70, title: 'ID',search:false , align: "center"},
                    { field: 'name',align: "left", title: '类别' },
                    { field: 'sites', width: 100, title: '是否推送', templet:"#sites", align: "center" },
                    { field: 'updatetime', width: 145, title: '同步时间', search: 'range',hide: true },
                    {fixed: 'right', title:'操作',width:220, toolbar: '#barTool',align:"center"}
                ]
            ],
        });


        //监听工具条
        table.on('tool(currentTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'push'){
                //类别推送
                layer.confirm('操作将覆盖原有推送信息，是否继续操作？', function(index){
                    this.addClass('layui-btn-disabled').prop('disabled', true).html('<i class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop"></i> 转换中...');
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "{:url('push')}",
                        data: {change:'init',tablename:data.tablename},
                        success: function(res) {
                            if (res.code == 1) {
                                $('#change_div').show();
                                $('#change_html').html('<p>'+res.msg+'</p>');
                                start_change(data.tablename,1);
                            } else {
                                this.attr('disabled', false).removeClass("layui-btn-disabled").html('重新推送');
                                layer.msg(res.msg, { icon: 2 });
                            }
                        },
                        error: function(xhr, textstatus, thrown) {

                        }
                    });
                    return false;
                    layer.close(index);
                });
            }
        });
        function start_change(tablename,page) {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{:url('push')}",
                data: {change:'start',tablename:data.tablename,page:page},
                success: function(res) {
                    if (res.code == 1) {
                        if (res.data.code == 1) {
                            start_change(tablename,res.data.page);
                            $('#change_html').append('<p>'+res.msg+'</p>');
                        } else if (res.data.code == 2) {
                            // $('.layui-btn').attr('disabled', false).removeClass("layui-btn-disabled").html('开始转换');
                            layer.msg(res.msg, { icon: 1 });
                        } else {

                        }
                    } else {
                        layer.msg(res.msg, { icon: 2 });
                        // $('.layui-btn').attr('disabled', false).removeClass("layui-btn-disabled").html('重新转换');
                    }
                },
                error: function(xhr, textstatus, thrown) {

                }
            });
        }

    });
</script>
{/block}

