{include file="public/header" /}
{include file="public/banner" /}
<div class="layui-container page">
    <div class="layui-row layui-col-space20 ">
        {include file="public/left" /}
        <div class="layui-col-sm9 layui-col-md10">
            <div class="layui-card-body detail-body layui-text">
                <div class="layui-card">
                    {include file="public/location" /}
                </div>
                <div class="layui-row listAjax">
                    {include file="public/list_ajax" /}
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
