{include file="public/header" /}
{include file="public/banner" /}
<div class="layui-container page">
    <div class="layui-row layui-col-space20">
        {include file="public/left" /}
        <div class="layui-col-sm9 layui-col-md10">
            <div class="layui-card">
                {include file="public/location" /}
            </div>
            <div class="layui-row layui-col-space30 listAjax">
                {include file="public/list_ajax" /}
            </div>
            <div class="layui-row layui-col-space30">
                <div class="layui-box layui-laypage layui-laypage-default">
                    {$pages|raw}
                </div>
            </div>

        </div>
    </div>
</div>
{include file="public/footer" /}
