{include file="public/header" /}
<link rel="stylesheet" href="__DZD__/css/case.css"/>
<div class="layui-container case">
    <div class="layui-card case-intro">
        <div class="layui-card-header">
            <span class="layui-breadcrumb layui-hide-xs" style="visibility: visible;">
                <a href="{$siteurl}">首页</a> {:catpos($catid)}
            </span>
        </div>
        <div class="layui-card-body layui-row">
            <div class="layui-col-md6">
                <div class="store-img photos">
                    <img src="{$thumb}" lay-src="{$thumb}" alt="{$title}" layer-index="0">
                </div>
            </div>
            <div class="layui-col-md6">

                <div class="title-article">
                    <h1>{$title}</h1>
                    <div class="title-msg">
                        <span><i class="layui-icon layui-icon-username"></i> 多站点</span>
                        <span><i class="layui-icon layui-icon-time"></i> {$inputtime|date='Y-m-d H:i'} </span>
                        <span><i class="layui-icon layui-icon-read"></i> {$hits}浏览</span>
                        <span><i class="iconfont icon-baidu"></i> {:hook('baidu_record')}</span>
                    </div>
                </div>
                <div class="layui-card-body">
                    {$description}
                </div>

                <div class="layui-btn-container">
                    <a href="{$website}" class="layui-btn" target="_blank"><i class="layui-icon layui-icon-website"></i> 查看演示</a>
                    <a href="{:config('web_site_qq')}" target="_blank"  type="button" class="layui-btn layui-btn-warm"><i class="layui-icon layui-icon-login-qq"></i> 我要建站</a>
                </div>
                {if $lang}
                <div class="intro-txt">
                        {volist name="lang" id="vo"}
                        <span class="layui-badge"><img src="/static/language/{$key}.png" title="{$vo}"></span>
                        {/volist}
                </div>
                {/if}
            </div>
        </div>
    </div>
    <div class="layui-card case-content">
        <div class="layui-card-body detail-body layui-text">
            {if $images}
            {volist name="images" id="vo"}
            <img src="{$vo}" class="img-responsive">
            {/volist}
            {else}
            <img src="{$thumb}" class="img-responsive">
            {/if}

            {include file="public/page_text" /}
        </div>
    </div>
</div>
{include file="public/footer" /}
