{include file="public/header" /}

<div class="layui-container case body-height">
    <div class="layui-card case-intro">
        <div class="layui-card-header">
            <span class="layui-breadcrumb layui-hide-xs" style="visibility: visible;">
                <a href="{$siteurl}">首页</a> {:catpos($catid)}
            </span>
        </div>
        <div class="layui-card-body layui-row">
            <div class="layui-col-md8">
                <div class="layui-carousel banner-show" id="slide">
                    <div carousel-item>
                        {if $images}
                        {volist name="images" id="vo"}
                        <div> <img src="{$vo}" class="img-responsive"></div>
                        {/volist}
                        {else}
                        <div> <img src="{$thumb}" class="img-responsive"></div>
                        {/if}
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="title-article">
                    <h1>{$title}</h1>
                    <div class="title-msg">
                        <span><i class="layui-icon layui-icon-username"></i> 多站点</span>
                        <span><i class="layui-icon layui-icon-time"></i> {$inputtime|date='Y-m-d H:i'} </span>
                        <span><i class="layui-icon layui-icon-read"></i> {$hits}浏览</span>
                        <span><i class="iconfont icon-baidu"></i> {:hook('baidu_record')}</span>
                    </div>
                </div>
                <div class="layui-card">
                    <div class="layui-card-header"> <i class="layui-icon layui-icon-username"></i> 开发商 </div>
                    <div class="layui-card-body layui-text layadmin-text">
                        <div class="media media-default">
                            <div class="media-left">
                                <a class="js-user-card" href="" data-toggle="popover" data-placement="left" data-type="user" data-id="1" data-original-title="" title="">
                                    <span class="avatar-img"><img src="__SKIN__/dzd/cms/images/logo.png" alt=""></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="title">
                                    <a class="label label-success" href="">官方</a> {if $price!=1}授权插件需要<a href="https://blog.yzncms.com/" target="_blank">联系作者</a>{/if}
                                </div>
                                <div class="">yzncms系统创始人、系统的创办者！</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-card">
                    <div class="layui-card-header"> <i class="layui-icon layui-icon-about"></i> {$mold_text}信息 </div>
                    <div class="layui-card-body">
                        <div class="version-details">
                            <div class="row">
                                <div class="layui-col-md6">
                                    <p>插件标识：</p>
                                    <span class="text-muted">{$ide}</span>
                                </div>
                                <div class="layui-col-md6">
                                    <p>插件分类：</p>
                                    <span class="text-muted">{$type_text}</span>
                                </div>
                                <div class="layui-col-md6">
                                    <p>下载次数：</p>
                                    <span class="text-muted">{$hits}</span>
                                </div>
                                <div class="layui-col-md6">
                                    <p>
                                        插件评级:
                                    <div class="rating">
                                        <span class="rating-star checked" data-value="5"></span>
                                        <span class="rating-star " data-value="4"></span>
                                        <span class="rating-star " data-value="3"></span>
                                        <span class="rating-star " data-value="2"></span>
                                        <span class="rating-star " data-value="1"></span>
                                    </div>
                                    </p>


                                </div>
                                <div class="layui-col-md6">
                                    <p>版本号：</p>
                                    <span class="text-muted">{$version}</span>
                                </div>

                                <div class="layui-col-md6">
                                    <p>发布日期：</p>
                                    <span class="text-muted">{$inputtime|date='Y-m-d H:i'}</span>
                                </div>
                                <div class="layui-col-md12">
                                    <p>相关标签：<span class="text-muted">
                                        {notempty name="tags"}
                                        {volist name=":explode(',',$tags)" id="vo"}
                                        <a href="{:url('cms/index/tags',['tagdir'=>getTagDir($vo)])}">{$vo}</a>
                                        {/volist}
                                        {/notempty}
                                    </span>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="layui-card-body">
                    {$description}
                </div>

                <div class="layui-btn-container">
                    <a href="{$website}" class="layui-btn" target="_blank"><i class="layui-icon layui-icon-website"></i> 查看演示</a>
                    <a href="{:config('web_site_qq')}" target="_blank"  type="button" class="layui-btn layui-btn-warm"><i class="layui-icon layui-icon-login-qq"></i> 我要建站</a>
                </div>
                {if $lang}
                <div class="intro-txt">
                    {volist name="lang" id="vo"}
                    <span class="layui-badge"><img src="/static/language/{$key}.png" title="{$vo}"></span>
                    {/volist}
                </div>
                {/if}
            </div>
        </div>
    </div>
    <div class="layui-card case-content">
        <div class="layui-card-body detail-body layui-text">
            {$content|raw}
            {include file="public/page_text" /}
        </div>
    </div>
</div>
{include file="public/footer" /}
