{include file="public/header" /}
<div class="layui-main">
    <div class="layui-container layui-botton-20">
        <div class="layui-card">
            {include file="public/location" /}
            <div class="layui-card-body">
                {volist name=":filters($modelid,$catid)" id="vo"}
                <div class="store-cat-item"><span><i class="layui-icon layui-icon-app"></i>{$vo.title}：</span>
                    <ul>
                        {volist name="$vo.options" id="vs"}
                        <li {if $vs.active}class="active"{/if}><a href="{$vs.url}">{$vs.title}</a></li>
                        {/volist}
                    </ul>
                </div>
                {/volist}
            </div>
            {if $detail}
            <blockquote class="layui-elem-quote">
                {$detail|raw}
            </blockquote>
            {/if}
        </div>
    </div>
    {php}$where=structure_filters_sql($modelid);{/php}
    <div class="layui-container merit" style="padding-bottom: 85px;">
        <div class="layui-row layui-col-space30">
            {yzn module="cms" action="lists" where="$where" catid="$catid" catids="$catid" siteId="$siteId"  cache="3600" order="listorder DESC" num="20" page="$page" return="data"}
            {volist name="data" id="item"}
            <div class="layui-col-sm6 layui-col-md3 ">
                <div class="angle_box">
                    <a href="{$item.url}">
                        {if $item['price']==1}
                        <div class='angle free'>{$item.price_text}</div>
                        {else}
                        <div class='angle auth'>{$item.price_text}</div>
                        {/if}
                        <div class="content" title="{$item.description}">
                            <div class="layui-icon {$item.icon}"><i></i></div>
                            <div class="layui-text">
                                <p class="label">{$item.title}</p>
                                <p class="store-desc">{$item.description}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {/volist}
            {/yzn}
        </div>
        <div class="layui-row layui-col-space30">
            <div class="layui-box layui-laypage layui-laypage-default">
                {$pages|raw}
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}