{include file="public/header" /}

<div class="layui-main body-height">
    <div class="layui-container layui-botton-20">
        <div class="layui-card">
            {include file="public/location" /}
            <div class="layui-card-body">
                {volist name=":filters($modelid,$catid)" id="vo"}
                <div class="store-cat-item"><span><i class="layui-icon layui-icon-app"></i>{$vo.title}：</span>
                    <ul>
                        {volist name="$vo.options" id="vs"}
                        <li {if $vs.active}class="active"{/if}><a href="{$vs.url}">{$vs.title}</a></li>
                        {/volist}
                    </ul>
                </div>
                {/volist}
            </div>
        </div>
    </div>
    {php}$where=structure_filters_sql($modelid);{/php}
    <div class="layui-container merit">
        <div class="layui-row layui-col-space30">
            {yzn module="cms" action="lists" catid="$catid" siteId="$site_id" cache="3600" order="listorder DESC" num="12" page="$page" return="data"}
            {volist name="data" id="item"}
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg4">
                {include file="public/item" /}
            </div>
            {/volist}
            {/yzn}
        </div>
        <div class="layui-row layui-col-space30">
            <div class="layui-box layui-laypage layui-laypage-default">
                {$pages|raw}
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}