{include file="public/header" /}
{include file="public/banner_In" /}
<div class="layui-container page">
    <div class="layui-row layui-col-space20 ">
        {include file="public/left" /}
        <div class="layui-col-sm9 layui-col-md10">
            {include file="public/location" /}
            <div class="layui-card fly-extend-doc layui-show body-height-page">
                <div class="layui-card-header"><h3 class="layui-inline layui-this">{$title}</h3></div>
                <div class="layui-card-body detail-body layui-text">
                    {$content|raw}
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
