{include file="public/header" /}
{include file="public/banner_In" /}
<div class="layui-main">
    <div class="layui-container">
        <div class="layui-card body-height">
            {include file="public/location" /}
            <div class="title-article">
                <h1>{$siteName}{$title}</h1>
                <div class="title-msg">
                    <span><i class="layui-icon layui-icon-username"></i> {$username}</span>
                    <span><i class="layui-icon layui-icon-time"></i> {$inputtime|date='Y-m-d H:i'}</span>
                    <span><i class="layui-icon layui-icon-read"></i> {$hits} {:lang('Views')}</span>
                    {if isModuleInstall('baidu_record')}
                    <span><i class="iconfont icon-baidu"></i> {:hook('baidu_record')}</span>
                    {/if}
                </div>
            </div>
            <div class="layui-card-body detail-body layui-text">
                <!--阅读收费的代码请看文档 https://doc.dzdcms.com/show/70.html-->
                {eq name="allow_visitor" value="1"}
                {$content|raw}
                {else/}
                <div class="allow_visitor">
                    <a href="{:url('cms/index/readpoint',['allow_visitor' => $allow_visitor])}"><font color="red">阅读此信息需要您支付 <B><I>{$readpoint} {if $paytype}元{else}点{/if}</I></B>，点击这里支付</font></a>
                </div>
                {/eq}
                <!--S 分页-->
                {$pages|raw}
                <!--E 分页-->
                {include file="public/page_text" /}
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
