{include file="public/header" /}
<link rel="stylesheet" href="__DZD__/css/case.css"/>
<div class="layui-container case">
    <div class="layui-card case-intro">
        <div class="layui-card-header">
            <span class="layui-breadcrumb layui-hide-xs" style="visibility: visible;">
                <a href="{$siteurl}">首页</a> {:catpos($catid)}
            </span>
        </div>
        <div class="layui-card-body layui-row">
            <div class="layui-col-md8">
                <div class="swiper-container store-img">
                    <div class="swiper-wrapper">
                        {if $images}
                        {volist name="images" id="vo"}
                        <div class="swiper-slide"> <img src="{$vo}" class="img-responsive"></div>
                        {/volist}
                        {else}
                            <div class="swiper-slide"> <img src="{$thumb}" class="img-responsive"></div>
                        {/if}
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>

                    <!-- 如果需要导航按钮 -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!-- 如果需要滚动条 -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="title-article">
                    <h1>{$title}</h1>
                    <div class="title-msg">
                        <span><i class="layui-icon layui-icon-username"></i> 多站点</span>
                        <span><i class="layui-icon layui-icon-time"></i> {$inputtime|date='Y-m-d H:i'} </span>
                        <span><i class="layui-icon layui-icon-read"></i> {$hits}浏览</span>
                        <span><i class="iconfont icon-baidu"></i> {:hook('baidu_record')}</span>
                    </div>
                </div>

                <div class="intro-txt">
                    <p class="desc">{$description} </p>

                    <p class="store-detail-price"><span> </span></p>
                    <p class="store-detail-active" id="shopEvent">
                        <a href="{$website}" class="store-bg-orange" target="_blank"><i class="layui-icon layui-icon-website"></i> 查看演示 </a>
                        <a href="{:config('web_site_qq')}" target="_blank" class="store-bg-blue"> <i class="layui-icon layui-icon-login-qq"></i> 我要建站 </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card case-content">
        <div class="layui-card-body detail-body layui-text">
            {$content|raw}
            {include file="public/page_text" /}
        </div>
    </div>
</div>
{include file="public/footer" /}
