{include file="public/header" /}
{include file="public/banner_In" /}
<div class="layui-container case body-height">
    <div class="layui-card case-intro">
        <div class="layui-card-header">
            <span class="layui-breadcrumb layui-hide-xs" style="visibility: visible;">
                <a href="{$siteurl}">首页</a> {:catpos($catid)}
            </span>
        </div>
        <div class="layui-card-body layui-row">
            <div class="layui-col-md6">
                <div class="layui-carousel banner-show" id="slide">
                    <div carousel-item>
                        {if $images}
                        {volist name="images" id="vo"}
                        <div> <img src="{$vo}" class="img-responsive"></div>
                        {/volist}
                        {else}
                        <div> <img src="{$thumb}" class="img-responsive"></div>
                        {/if}
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="title-article">
                    <h1>{$siteName}{$title}</h1>
                    <div class="title-msg">
                        <span><i class="layui-icon layui-icon-username"></i> {$username}</span>
                        <span><i class="layui-icon layui-icon-time"></i> {$inputtime|date='Y-m-d H:i'} </span>
                        <span><i class="layui-icon layui-icon-read"></i> {$hits} {:lang('Views')}</span>
                        <span>文件大小:{:getFileSize($file)}</span>
                        <span><i class="iconfont icon-baidu"></i> {:hook('baidu_record')}</span>
                    </div>
                </div>

                <div class="layui-card-body">
                    {$description}
                </div>

                <div class="layui-btn-container layui-btn-center">
                    {if $file}<a href="{$file}" onclick="times({$id})" class="layui-btn layui-btn-danger" target="_blank"><i class="layui-icon layui-icon-download-circle"></i> 文件下载({$times})</a>{/if}
                    <a href="{$website}" class="layui-btn" target="_blank"><i class="layui-icon layui-icon-website"></i> 查看演示</a>
                    <a href="{:config('web_site_qq')}" target="_blank"  type="button" class="layui-btn layui-btn-warm"><i class="layui-icon layui-icon-login-qq"></i> 我要建站</a>
                </div>
                {if $lang}
                <div class="intro-txt">
                    {volist name="lang" id="vo"}
                    <span class="layui-badge"><img src="/static/language/{$key}.png" title="{$vo}"></span>
                    {/volist}
                </div>
                {/if}
            </div>
        </div>
    </div>
    <div class="layui-card case-content">
        <div class="layui-card-body detail-body layui-text">
            {$content|raw}
            {include file="public/page_text" /}
        </div>
    </div>
</div>
<script type="text/javascript">
    function times(obj) {
        $.ajax({
            url:"/cms/index/times.html",
            type:'post',
            dataType: 'json',
            data:{"id":obj,'catid':{$catid}}
        });
    }
</script>
{include file="public/footer" /}
