{include file="public/header" /}
<div class="insideBanner">
    <img src="{$image}" alt="{$title}">
    <div class="thumb">
        <h2 class="title"><span>{$title}</span></h2>
        <div class="desc">{$description}</div>
    </div>
    {/if}
</div>
<div class="layui-main">
    <div class="layui-container">

        <div class="layui-row layui-col-space15">

            <div class="layui-col-md8">
                <div class="layui-location">
                    <div class="layui-card-header layui-col-sm4 layui-col-md4 layui-left">
                        <span class="layui-breadcrumb layui-hide-xs">
                            <a href="{$siteurl}">首页</a> <a href="{:url('cms/index/special')}">专题列表</a> <a>{$title}</a>
                        </span>
                    </div>
                </div>
                <div class="fly-panel">
                    <div class="title-article">
                        <h1>{$siteName}{$title}</h1>
                        <div class="title-msg">
                            <span><i class="layui-icon layui-icon-username"></i> 多站点</span>
                            <span><i class="layui-icon layui-icon-time"></i> {$input_time|date='Y-m-d H:i'} </span>
                            <span><i class="layui-icon layui-icon-read"></i> {$views} </span>
                            {if isModuleInstall('baidu_record')}
                            <span><i class="iconfont icon-baidu"></i> {:hook('baidu_record')}</span>
                            {/if}
                        </div>
                    </div>
                    <div class="layui-carousel banner-show" id="slide">
                        <div carousel-item>
                            <div> <img src="{$image}" class="img-responsive"></div>
                        </div>
                    </div>
                </div>

                <div class="fly-panel">
                    <div class="layui-card">
                        <div class="layui-card-header">专题介绍</div>
                        <div class="layui-card-body detail-body layui-text">
                            {$content|raw}
                        </div>

                    </div>
                </div>

                <div class="fly-panel">
                    <div class="layui-card">
                        <div class="layui-card-header">信息列表</div>
                        <div class="layui-card-body">
                            <div class="layui-row listAjax">
                                {yzn module="cms" action="lists" modelid="1" siteId="$siteId" cache="3600" order="listorder DESC" num="2" page="$page" return="data"}
                                {volist name="data" id="item"}
                                {include file="public/list_item" /}
                                {/volist}
                                {/yzn}
                            </div>
                            <div class="layui-row layui-col-space30">
                                <div class="layui-box layui-laypage layui-laypage-default">
                                    {$pages|raw}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="layui-col-md4">

                <div class="fly-panel">
                    <div class="layui-card">
                        <div class="layui-card-header">专题信息</div>
                        <div class="layui-card-body">
                            <div class="text-left">
                                <!--介绍区域-->
                                <div class="layui-col-xs12">
                                    <i class="layui-icon layui-icon-app"></i>专题名称：<span>{$title}</span>
                                </div>
                                <div class="layui-col-xs12">
                                    <i class="layui-icon layui-icon-read"></i>{:lang('Views')}：<span>{$views}</span>
                                </div>
                                <div class="layui-col-xs12">
                                    <i class="layui-icon layui-icon-date"></i>发布日期：<span>{$input_time|date='Y-m-d H:i'}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fly-panel">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon layui-icon-fire"></i> 热门专题</div>
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space25 merit">
                                {yzn module="cms" action="special" siteId="$site_id" order="listorder ASC" num="10" return="data"}
                                {volist name="data" id="item"}
                                <div class="layui-col-xs12 layui-col-sm6 layui-col-md6 layui-col-lg6">
                                    <div class="project-list-item fadeInUp" data-wow-delay="{$i-0.5}s">
                                        <a href="{:url('cms/index/special',['diyname'=>$item['diyname']])}">
                                            <div class="project-list-item-cover">
                                                <img src="{$item.image|default='/uploads/images/photo.png'}">
                                            </div>
                                            <div class="project-list-item-body"><h2>{$siteName}{$item.title}</h2></div>
                                        </a>
                                    </div>
                                </div>
                                {/volist}
                                {/yzn}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="fly-panel">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon layui-icon-speaker"></i> 专属推荐</div>
                        <div class="layui-card-body">
                            <div>
                                <a href="" target="_blank" type="button" class="layui-btn layui-btn-normal layui-btn-fluid">阿里云服务器1核/2G/1M(88元/1年) </a>
                            </div>
                            <div style="margin-top: 10px;">
                                <a href="" target="_blank" type="button" class="layui-btn layui-btn-danger layui-btn-fluid">腾讯云服务器1核/2G/1M(74元/1年) </a>
                            </div>
                            <div style="margin-top: 10px;">
                                <a href="https://www.bt.cn/?invite_code=MV92dmlscHQ=" target="_blank" type="button" class="layui-btn layui-btn-warm layui-btn-fluid">专业服务器控制面板 </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="fly-panel">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon layui-icon-service"></i> 加入我们</div>
                        <div class="layui-card-body">
                            <div>
                                <a href="" target="_blank" type="button" class="layui-btn layui-btn-fluid">QQ群712780220</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
{include file="public/footer" /}
