{include file="public/header" /}
{include file="public/banner_In" /}
<div class="layui-main">
    <div class="shoplist-filter">
        <div class="layui-container layui-botton-20">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span class="layui-breadcrumb layui-hide-xs" style="visibility: visible;">
                        <a href="{$siteurl}">首页</a> <a href="{:url('cms/index/special')}">专题列表</a>
                    </span>
                </div>
                <div class="layui-card-body">
                    <div class="store-cat-item"><span><i class="layui-icon layui-icon-app"></i>专题：</span>
                        <ul>
                            {volist name="list" id="vo"}
                            <li><a href="{:url('cms/index/special',['diyname'=>$vo['diyname']])}" title="{$vo.title}">{$vo.title}</a></li>
                            {/volist}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{include file="public/footer" /}
