{include file="public/header" /}
{include file="public/banner_In" /}

<div class="layui-main">
    <div class="shoplist-filter">
        <div class="layui-container layui-botton-20">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span class="layui-breadcrumb layui-hide-xs">
                      <a href="{:url('cms/index/index')}">首页</a> <a href="{:url('cms/index/special')}">专题列表</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="layui-container" style="padding-bottom: 85px;">
            <div class="layui-row layui-col-space30">
                {yzn module="cms" action="special" order="listorder ASC" num="10" return="data"}
                {volist name="data" id="item"}
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg4">
                    <div class="project-list-item fadeInUp" data-wow-delay="{$i-0.5}s">
                        <a href="{:url('cms/index/special',['diyname'=>$item['diyname']])}">
                            <div class="project-list-item-cover">
                                <img src="{$item.image|default='/uploads/images/photo.png'}">
                            </div>
                            <div class="project-list-item-body"><h2>{$siteName}{$item.name}</h2>
                                <div class="project-list-item-text layui-text">{$siteName}{$item.description}</div>
                            </div>
                        </a>
                    </div>
                </div>
                {/volist}
                {/yzn}
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
