{extend name="admin@index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">网页部署</div>
    <div class="layui-card-body">
        <div class="layui-form-item">
            <button class="layui-btn">生成js</button>
        </div>
<pre class="layui-code layui-hide">
//将此代码放置在&lt;/body&gt;前面   
&lt;script type="text/javascript" src="{$jsPath}"&gt;&lt;/script&gt;
</pre>   
    </div>
</div>
<script type="text/javascript">
layui.use(['layer', 'code'], function() {
    layui.code({
        title: 'js代码'
    });
    $(".layui-btn").click(function() {
        $.ajax({
            url: "{:url('createJs')}",
            dataType: 'json',
            success: function(res) {
                if (res.code == 1) {
                    layer.msg(res.msg, {
                        icon: 1,
                        end: function() {
                            $(".layui-code").removeClass('layui-hide');
                            /*$("#codearea").removeClass('hide');
                            $("#minjs").removeClass('hide');
                            var str = '&lt;script src="' + res.data + '">&lt;/script>';
                            $("#wolive-js").html(str);
                            var newstr = '<script src="' + res.data + '">';
                            $("#container").append(newstr);*/
                        }
                    });
                } else {
                    layer.msg(res.msg, { icon: 2 });
                }
            }
        });
    })
})
</script>
{/block}