<li class="layui-menu-item-group {if $Request.controller=='Index' && ($Request.action=='pay' || $Request.action=='pay_list' || $Request.action=='spend_list' || $Request.action=='change_credit') }layui-menu-item-down{else}layui-menu-item-up{/if} ">
    <div class="layui-menu-body-title">
        <i class="iconfont icon-money"></i> 财务中心 <i class="layui-icon layui-icon-up"></i>
    </div>
    <ul>
        <li {if $Request.action=='pay' }class="layui-menu-item-checked"{/if}><a href="{:url('pay/index/pay')}"><i class="iconfont icon-circle-line"></i>&nbsp;在线充值</a></li>
        <li {if $Request.action=='pay_list' }class="layui-menu-item-checked"{/if}><a href="{:url('pay/index/pay_list')}"><i class="iconfont icon-circle-line"></i>&nbsp;入账记录</a></li>
        <li {if $Request.action=='spend_list' }class="layui-menu-item-checked"{/if}><a href="{:url('pay/index/spend_list')}"><i class="iconfont icon-circle-line"></i>&nbsp;消费记录</a></li>
        <li {if $Request.action=='change_credit' }class="layui-menu-item-checked"{/if}><a href="{:url('pay/index/change_credit')}"><i class="iconfont icon-circle-line"></i>&nbsp;积分兑换</a></li>
    </ul>
</li>
<li class="layui-menu-item-divider"></li>