<div class="layui-form-item">
    <label class="layui-form-label">语言名称</label>
    <div class="layui-input-block">
        <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="语言名称" class="layui-input" value="{$data.name}">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">语言标识</label>
    <div class="layui-input-inline">
        <input autocomplete="off" class="layui-input" id="mark" name="mark" placeholder="语言标识" type="text" value="{$data.mark}">
    </div>
    <div class="layui-input-inline">
        <select lay-filter="fasttype">
            <option data-mark="zh-cn">常用语言标识</option>
            <option data-mark="zh-cn">简体中文</option>
            <option data-mark="en-gb">英语</option>
            <option data-mark="ja-jp">日语</option>
            <option data-mark="fr-fr">法语</option>
            <option data-mark="de-de">德语</option>
            <option data-mark="ru-ru">俄语</option>
            <option data-mark="ko-kr">韩文</option>
            <option data-mark="fi-fi">芬兰语</option>
            <option data-mark="da-dk">丹麦语</option>
            <option data-mark="cs-cz">捷克语</option>
            <option data-mark="pl-pl">波兰语</option>
            <option data-mark="sv-se">瑞典语</option>
            <option data-mark="nl-nl">荷兰语</option>
            <option data-mark="el-gr">希腊语</option>
            <option data-mark="no-no">挪威语</option>
            <option data-mark="pt-pt">葡萄牙语</option>
            <option data-mark="es-es">西班牙语</option>
            <option data-mark="it-it">意大利语</option>
            <option data-mark="he-il">希伯来语</option>
            <option data-mark="hu-hu">匈牙利语</option>
            <option data-mark="tr-tr">土耳其语</option>
            <option data-mark="ot-la">其他语言</option>
        </select>
    </div>
    <div class="layui-form-mid layui-word-aux">
        多语言选相应的语言就行，如果站群，选相应的语言就行
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">语言图标</label>
    <div class="layui-input-block layui-upload">
        {php}echo \util\Form::images('logo','',$data['logo']){/php}
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">排序</label>
    <div class="layui-input-block">
        <input type="number" name="listorder" autocomplete="off" placeholder="排序" class="layui-input" value="{$data.listorder}">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">状态</label>
    <div class="layui-input-inline">
        <input type="radio" name="status" value="1" title="正常" {eq name="data.status" value="1" }checked{/eq}>
        <input type="radio" name="status" value="0" title="禁止" {eq name="data.status" value="0" }checked{/eq}>
    </div>
</div>
<div class="layui-form-item layer-footer">
    <div class="layui-input-block">
        <button class="layui-btn" lay-submit="">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
</div>